- last = @savers.size - 1
- next_last = last - 1
%div{:class => "saver #{'right' if mini_saver_counter.odd?} #{'no-border' if mini_saver_counter.even? && mini_saver_counter >= next_last || mini_saver_counter.odd? && mini_saver_counter == last}"}
  .info
    %table{:border => "0", :width => "100%", :style => "margin-top:0px;", :cellpadding => "0"}

      -# Goal & Region
      =render :partial => "savers/shared/property", :locals => {:name => "#{:goal.l}:", :value => mini_saver.asset_type}
      =render :partial => "savers/shared/property", :locals => {:name => "#{:region.l}:", :value => mini_saver.metro_area.name}
      
      -# Spacer
      =render :partial => "savers/shared/spacer"
    
      -# Match Info
      =render :partial => "savers/shared/property", :locals => {:name => "#{:match_request.l}:", :value => mini_saver.requested_match_amount.format(:no_cents)}
      =render :partial => "savers/shared/property", :locals => {:name => "#{:match_committed.l}:", :value => "#{mini_saver.matched_amount.format(:no_cents)} (#{(mini_saver.match_percent*100).round}%)"}
    
      -# Progress Bar
      =render :partial => "savers/shared/progress_bar", :locals => {:saver => mini_saver, :style => "progress-bar"}
    
      -# Match Controls
      =render :partial => "savers/shared/ask_control", :locals => {:saver => mini_saver}

  -# Thumbnail
  .with-img
    = link_to image_tag(mini_saver.avatar_photo_url(:thumb), :border => "0" ), saver_path(mini_saver)
    %span
      =:savers_story.l :saver => "#{possessivize(mini_saver.display_name).upcase}"
      =link_to "&hellip;", saver_path(mini_saver)
