%table{:class => "#{style}"}
  %tbody
    %tr
      - progress = [(saver.match_percent * 100).round, 100].min
      - remainder = 100 - progress
      - if (progress != 0)
        %td{:class => "progress-pct", :width => "#{progress}%", :colspan => "#{progress == 100 ? 2 : 1}"}
      - if (remainder != 0)
        %td{:class => "remainder-pct", :width => "#{remainder}%", :colspan => "#{remainder == 100 ? 2 : 1}"}
