- last = @savers.size - 1
- next_last = last - 1
%div{:class => "saver #{'right' if saver_counter.odd?} #{'no-border' if saver_counter.even? && saver_counter >= next_last || saver_counter.odd? && saver_counter == last}"}
  .info
    -# Goal & Region
    
    %table{:border => "0", :width => "100%", :style => "margin-top:0px;", :cellpadding => "0"}
      %tr
        %td{:width => "55%", :align => "left"}
          %p.large-text
            ="#{:goal.l}:"
        %td
          %p.large-text
            =saver.asset_type
      %tr
        %td{:align => "left"}
          %p.large-text
            ="#{:region.l}:"
        %td
          %p.large-text
            =saver.metro_area.name
      %tr
        %td{:align => "left"}
          %p.large-text
            ="Match requested:"
        %td
          %p.large-text
            =saver.requested_match_amount.format(:no_cents)
      
      -# Spacer
      %tr
        %td
          %p.relax
            ="&nbsp;"
    
      -# Match Info
      %tr
        %td{:align => "left"}
          %p.large-text
            ="Match committed:"
        %td
          %p.large-text
            ="#{saver.matched_amount.format(:no_cents)} (#{(saver.match_percent*100).round}%)"
    
    -# Progress Bar
    = render(:partial => "savers/progress_bar", :locals => {:saver => saver, :style => "progress-bar"})
    
    -# Match Controls
    .relax='&nbsp;'
    - if saver.match_amount_left_cents > 0
      %table{:border => "0", :width => "80%", :cellpadding => "1"}
        - form_for :donation, :url => { :controller => :pledges, :action => :add_to_pledge } do |f|
          %tr
            %td{:align => "right"}
              = f.select :cents, select_pledge_amounts_cents_values(saver.match_amount_left_cents)
              = f.hidden_field :to_user_id, :value => saver.id
            %td{:align => "left"}
              = image_submit_tag "#{image_path('buttons/match.gif')}", :alt => 'Match'
    - else
      %span.text12GreenBold
        = :already_funded.l

  -# Thumbnail
  %a{:class => 'with-img', :href => "#{saver_path(saver)}"}
    =image_tag(saver.avatar_photo_url(:thumb))
    %span
      =:savers_story.l :saver => "#{possessivize(saver.display_name).upcase}"
