- @page_title = :match_savers.l.titleize

.content

  %h1
    ="Match a Saver - It's Easy!"

  .single-column
    .block.no-border
      %div{:style => "float: left;"}
        = image_tag "#{image_path('icons/one.gif')}"
      %h2.numbered
        ="Find a Saver Whose Goal Resonates With You"

      %br
      %div{:style => "float: left;"}
        = image_tag "#{image_path('icons/two.gif')}"
      %h2.numbered
        Make a Matching Contribution

      %br
      %div{:style => "float: left;"}
        = image_tag "#{image_path('icons/three.gif')}"
      %h2.numbered
        Track Their Progress

    .block{:style => "margin-top: 20px;"}
      = render :partial => 'users/search_options'

    .pagination.upper
      = paginating_links @savers, :params => params if @savers.page_count > 1

    = render :partial => "savers/list", :locals => {:savers => @savers}

    .pagination.lower
      = paginating_links @savers, :params => params if @savers.page_count > 1
