- # This is for identifying current tab selection in navbar
- @section = 'match'

.content
  = image_tag 'temp/image-sub.jpg'

  = render :partial => 'users/search_options'

  %h2
    = :site_savers.l :site => AppConfig.community_name

  .pagination= paginating_links @savers, :params => params if @savers.page_count > 1

  = render(:partial => "savers/saver", :collection => @savers)

  %br.clear
  .pagination= paginating_links @savers, :params => params if @savers.page_count > 1
