- # This is for identifying current tab selection in navbar
- @section = 'match'

.content
  = render :partial => 'users/search_options'

  %p
    = image_tag "#{image_path('titles/savers.gif')}"

  %div{:class => "pagination", :style => "margin-top:15px;"}
    = paginating_links @savers, :params => params if @savers.page_count > 1

  = render(:partial => "savers/saver", :collection => @savers)

  %div{:class => "pagination", :style => "float:left; margin-top:24px;"}
    = paginating_links @savers, :params => params if @savers.page_count > 1
