- @meta = { :description => "#{@saver.display_name}'s profile on #{AppConfig.community_name}.", :keywords => "#{@saver.display_name}, #{@saver.tags.join(", ") unless @saver.tags.nil?}", :robots => AppConfig.robots_meta_show_content }

-@page_title= @saver.display_name

.content

  %h1= @saver.display_name

  .single-column
  
    -# Photo
    .photo

      .with-img.plus
        - if @saver.avatar
          = image_tag( @saver.avatar_photo_url(:medium), :class => 'polaroid')
        - else
          = image_tag( user.avatar_photo_url(:medium), :class => "polaroid" )

      -# Program and Region
      %h3
        %table{:cellpadding => "5"}
          %tr
            %td{:width => "32%"}
              = "#{:program.l}:"
            %td
              = link_to @saver.organization.first_name, organization_path(@saver.organization)
          %tr
            %td
              = "#{:region.l}:"
            %td
              = @saver.metro_area.name

    -# Saver Info
    .party-info
      .box.wide
        %table{:width => "100%", :cellspacing => "0", :cellpadding => "10", :align => "center"}
          %tr
            %td{:width => "55%"}
              = render(:partial => "savers/match_box/request_summary", :locals => {:saver => @saver})
            
            %td
              = render(:partial => "savers/match_box/control", :locals => {:saver => @saver})
    
      -# About Saver
      .about-party
        %h3= :about_user.l :user_name => @saver.display_name
        .story
          %p.no-margin
            = @saver.description
  
    -# Saver's Donors
    -unless @donors.size == 0
      .relax='&nbsp;'
  
      %h2{:style => "margin-top: 30px;"}
        =:people_who_have_contributed_to_this_saver.l

      .pagination= paginating_links @donors, :params => params if @donors.page_count > 1

      = render(:partial => "donors/donor", :collection => @donors)

      %br.clear
      .pagination= paginating_links @donors, :params => params if @donors.page_count > 1

