- @meta = { :description => "#{@saver.display_name}'s profile on #{AppConfig.community_name}.", :keywords => "#{@saver.display_name}, #{@saver.tags.join(", ") unless @saver.tags.nil?}", :robots => AppConfig.robots_meta_show_content }

.content

  .photo
    %h1= @saver.display_name

    .with-img.plus
      - if @saver.avatar
        = image_tag( @saver.avatar_photo_url(:medium), :class => 'polaroid')
      - else
        = image_tag( user.avatar_photo_url(:medium), :class => "polaroid" )

  .about-saver
    .box.wide
      .box-bottom
        .small-column
          %table{:width => "400", :cellspacing => "0", :cellpadding => "10", :border => "0", :align => "center"}
            %tr
              %td{:width => "200"}
                = render(:partial => "savers/match_box/request_summary", :locals => {:saver => @saver})
                
              %td
                = render(:partial => "savers/match_box/control", :locals => {:saver => @saver})
                
    .relax='&nbsp;'
    %h3= :about_user.l :user_name => @saver.display_name
    %p.no-margin
      = @saver.description
    %h3
      = "#{:matched_savings_program.l}:"
      = link_to @saver.organization.first_name, organization_path(@saver.organization)

  .relax='&nbsp;'
  %h2
    = image_tag 'titles/people-who-have-contributed-to-this-saver.gif'

  .pagination= paginating_links @donors, :params => params if @donors.page_count > 1

  = render(:partial => "donors/donor", :collection => @donors)

  %br.clear
  .pagination= paginating_links @donors, :params => params if @donors.page_count > 1

