- @meta = { :description => "#{@saver.login}'s profile on #{AppConfig.community_name}.", :keywords => "#{@saver.login}, #{@saver.tags.join(", ") unless @saver.tags.nil?}", :robots => AppConfig.robots_meta_show_content }
- @section = @saver.eql?(current_user) ? 'my_profile' : 'savers'
- @sidebar_left = true

.yui-g
  .yui-u.first
    .box
      = render :partial => 'users/profile_user_info_sidebar', :object => @saver, :locals => {:user => @saver}

  .yui-u
    - if @saver.description
      #about_me.box
        %h3
          =:about_me.l
        = render :partial => "savers/adc", :object => @saver, :locals => { :saver => @saver }
        %p
          = @saver.description
