-# Saver Data
%tr.donation

  -# Saver photo or Organization logo
  %td{:valign => "middle", :align => "left"}
    = image_tag( donation.to_user.avatar_photo_url(:thumb) )

  -# Saver name (Organization ignored)
  %td{:class => "text12", :valign => "middle", :align => "left"}
    %span.text12GreenBold
      = render :partial => 'pledges/invoice/donation/saver_name', :locals => {:to_user => donation.to_user}

  -# Sponsoring Organization name (or SaveTogether, if ST donation)
  %td{:class => "text12", :valign => "middle", :align => "left"}
    = render :partial => 'pledges/invoice/donation/organization', :locals => {:to_user => donation.to_user}

  -# Goal Description (or donation description, if ST donation)
  %td{:class => "text12", :valign => "middle", :align => "left"}
    = render :partial => 'pledges/invoice/donation/goal_description', :locals => {:to_user => donation.to_user}

  -# Donation amounts controls
  - form_for donation do |f|
    %td{:class => "text12", :valign => "middle", :align => "left"}
      = render :partial => 'pledges/invoice/donation/amount', :locals => {:to_user => donation.to_user, :form => f}

  -# Update and optional Delete controls
  %td{:class => "text12", :valign => "middle", :align => "center"}
    = link_to image_tag('icons/delete.gif'), donation, :confirm => "Are you sure?", :method => :delete

-# Spacer Row
%tr{:valign => "top", :align => "left"}
  %td{:height => "2", :valign => "middle", :background => "#{image_path('bg/dotted_line.gif')}", :style => "background-repeat: repeat-x;", :colspan => "6"}
    %span{:style => "background-repeat: repeat-x;"}
      %img{:height => "2", :width => "2", :src => "#{image_path('icons/spacer.gif')}"}
