%table{:width => "100%", :cellspacing => "0", :cellpadding => "0", :border => "0"}
  %tr
    %td{:class => "text12", :valign => "top", :height => "36", :colspan => "2"}
      %span.text12GreenTitle
        ="#{title}"
  - form_for :donor, :url => donors_path, :method => :post, :html => {:class => 'MainForm'} do |f|
    = hidden_field_tag 'donation_id', "#{params[:donation_id]}"
    - if @gift_card
      = hidden_field_tag 'gift_card_id', @gift_card.id
    %tr
      %td{:class => "text12", :width => "32%", :height => "36"}
        %label{"for"=>"donor_first_name"}
          =:first_name.l
      %td{:class => "text12", :width => "68%", :height => "36"}
        = f.text_field :first_name, :size => 35

    %tr
      %td{:class => "text12", :width => "32%", :height => "36"}
        %label{"for"=>"donor_last_name"}
          =:last_name.l
      %td{:class => "text12", :width => "68%", :height => "36"}
        = f.text_field :last_name, :size => 35

    %tr
      %td{:class => "text12", :width => "32%", :height => "36"}
        %label{"for"=>"donor_login"} 
          =:e_mail_address.l
      %td{:class => "text12", :width => "68%", :height => "36"}     
        = f.text_field :login, :size => 35

    %tr
      %td{:class => "text12", :colspan => "2", :height => "36"} 
        %em=:required_your_email_address_will_identify_you_to_save_together.l

    %tr
      %td{:class => "text12", :width => "32%", :height => "36"}
        %label{"for"=>"donor_login_confirmation"}
          =:re_enter_e_mail_address_to_confirm.l
      %td{:class => "text12", :width => "68%", :height => "36"}     
        = f.text_field :login_confirmation, :size => 35

    %tr
      %td{:class => "text12", :colspan => "2", :height => "36"} 
        %em=:required_we_will_send_a_confirmation_e_mail_to_the_address_you_enter.l

    %tr
      %td{:class => "text12", :width => "32%", :height => "36"}
        %label{"for"=>"donor_password"}
          =:type_your_password.l
      %td{:class => "text12", :width => "68%", :height => "36"}     
        = f.password_field :password, :size => 35

    %tr
      %td{:class => "text12", :width => "32%", :height => "36"}
        %label{"for"=>"donor_password_confirmation"}
          =:re_type_your_password_to_confirm.l
      %td{:class => "text12", :width => "68%", :height => "36"}     
        = f.password_field :password_confirmation, :size => 35

    %tr
      %td{:class => "text12", :colspan => "2", :height => "36"} 
        %label{"for"=>"public_profile"}
          =:display_me_as.l
          =f.radio_button(:profile_public, true)
          =:first_name_choice.l
          =f.radio_button(:profile_public, false)
          =:anonymous_choice.l

    %tr
      %td
      %td
        = hidden_field_tag :inviter_id, params[:inviter_id]
        = hidden_field_tag :inviter_code, params[:inviter_code]
        = image_submit_tag "#{image_path('buttons/signup.gif')}", :alt => :sign_up.l
