-@page_title= "#{possessivize(@user.display_name)} #{:profile_settings.l.titleize}"

.content
  - form_tag donor_url(@user), :method => 'put', :multipart =>true, :class => 'MainForm' do

    = error_messages_for :user

    .photo
      %h1=:profile_photo.l

      .with-img.plus
        = image_tag( @user.avatar_photo_url(:medium), :class => "polaroid" )

      %table{:width => "100%", :cellspacing => "0", :cellpadding => "0", :border => "0"}
        %tr
          %td{:class => "text12", :valign => "bottom", :height => "36"}
            %span.text12GreenTitle
              =:choose_a_photo_for_your_profile.l
        %tr
          %td{:class => "text12", :width => "72%", :height => "36"}
            = file_field :avatar, :uploaded_data, :size => "35"

    .about-saver
      .box.wide
        .box-bottom
          %table{:width => "100%", :cellpadding => "2"}
            %tr
              %td
                %span.text12GreenTitle
                  =:you_are_editing_your_profile.l
            %tr
              %td
                = link_to "&raquo; #{:edit_your_account_settings_instead.l}", edit_account_user_path(@user)

      .relax='&nbsp;'
      %h3= :about_me.l
      %p.no-margin
        = text_area :user, :description, :class => "rich_text_editor", :style => "width:100%"
        
      %p= submit_tag :save_changes.l
