-@page_title= :sign_up_or_log_in.l

.content

  %h1
    = "Sign Up or Log In"

  .block{:style => "margin-top: 10px;"}
    .two-column-layout

      / Signup form
      .tcl-column.left

        = render :partial => "donors/signup_form", :locals => {:title => :sign_up.l}
        = render :partial => "donors/signup_sidebar", :locals => {:standalone => false}

      / Login form
      .tcl-column.right

        = render :partial => "sessions/login_form", :locals => {:title => :log_in.l}
        = render :partial => 'sessions/login_sidebar', :locals => {:standalone => false, :offer_password_change => true}

