-# Saver Data
%tr
  %td{:valign => "middle", :align => "left"}
    = image_tag( donation.to_user.avatar_photo_url(:thumb) )
  %td{:class => "text12", :valign => "middle", :align => "left"}
    %span.text12GreenBold
      = donation.to_user.display_name.capitalize
  %td{:class => "text12", :valign => "middle", :align => "left"}
    = MetroArea.find(donation.to_user.metro_area_id).name
  %td{:class => "text12", :valign => "middle", :align => "left"}
    = donation.to_user.asset_type
  - form_for donation, :url => { :controller => :pledges, :action => :modify_pledge } do |f|
    %td{:class => "text12", :valign => "middle", :align => "left"}
      = f.select :cents, select_pledge_amounts_cents_values
      = f.hidden_field :to_user_id
    %td{:class => "text12", :valign => "middle", :align => "center"}
      = f.submit :update.l
      = f.submit :remove.l
      -# These are a problem - for some reason they cause Rails to insist there is a view with the action
      -# = image_submit_tag "#{image_path('icons/update.gif')}", :value => :update.l, :name => "commit"
      -# = image_submit_tag "#{image_path('icons/delete.gif')}", :value => :delete.l, :name => "commit"
-# Spacer Row
%tr{:valign => "top", :align => "left"}
  %td{:height => "2", :valign => "middle", :background => "#{image_path('bg/dotted_line.gif')}", :style => "background-repeat: repeat-x;", :colspan => "6"}
    %span{:style => "background-repeat: repeat-x;"}
      %img{:height => "2", :width => "2", :src => "#{image_path('icons/spacer.gif')}"}
