#profile_details.box.hentry
  .yui-g
    .yui-u.first
      %h3
        = "Your transaction as Paypal was canceled."
      %p
        = "Please click here to return to the "
        = link_to "Home Page", home_path
        = "or click "
        = link_to "here", match_savers_path
        = "to search for other savers."
