#profile_details.box.hentry
  .yui-g
    .yui-u.first
      %h3
        = @saver.first_name.capitalize
      .centered
        = link_to image_tag( @saver.avatar_photo_url(:medium), :class => 'polaroid'), user_path(@saver)
    .yui-u
      %h3
        Confirm Donation
      %form{:action => "https://www.sandbox.paypal.com/cgi-bin/webscr", :id => "payment-form", :method => "post", :class => "MainForm"}
        = hidden_field_tag :cancel_return, "http://www.savetogether.org/"
        = hidden_field_tag :bn, "ActiveMerchant"
        = hidden_field_tag :redirect_cmd, "_cart"
        = hidden_field_tag :cmd, "_cart"
        = hidden_field_tag :upload, "1"
        = hidden_field_tag :notify_url, url_for(:only_path => false, :action => 'notify')
        = hidden_field_tag :charset, "utf-8"
        = hidden_field_tag :return, url_for(:only_path => false, :action => 'done')
        = hidden_field_tag :invoice, @pledge.id

        = hidden_field_tag :tax, "0.00"
        = hidden_field_tag :business, "tom@savetogether.org"
        = hidden_field_tag :address_override, "0"
        = hidden_field_tag :shipping, "0.00"
        = hidden_field_tag :no_note, "1"
        = hidden_field_tag :no_shipping, "1"
        = hidden_field_tag :currency_code, "USD"
        #donation_line_items
          .donation_line_item
            %label{:for => "saver_donation"}
              = "Amount you would like to donate to #{@saver.first_name.capitalize}:"
            = @pledge.line_items[0].amount.format(:html)
            = hidden_field_tag :item_number_1, @saver.id
            = hidden_field_tag :item_name_1, @saver.login
            = hidden_field_tag :amount_1, @pledge.line_items[0].amount
          .donation_line_item
            %label{:for => "st_donation"}
              (Optional) amount you would like to donate to SaveTogether:
            = @pledge.line_items[1].amount.format(:html)
            = hidden_field_tag :item_number_2, @storg.id
            = hidden_field_tag :item_name_2, @storg.login
            = hidden_field_tag :amount_2, @pledge.line_items[1].amount
          %p
            = submit_tag "Continue"