.st-block
  #profile_details.box.hentry
    .yui-g
      .yui-u.first
        %h3
          = @donation.saver.login
        .centered
          = link_to image_tag( @donation.saver.avatar_photo_url(:medium), :class => 'polaroid'), user_path(@donation.saver)
      .yui-u
        %h3
          Confirm Donation
        - form_for :donation, @donation, :url => {:action => 'done',    |
            :donation_id => @donation.id}, :html => { :class => "MainForm" } do |f| |
          = f.error_messages
          %label{:for => "notification_email"}="Send progress emails to:"
          %span.confirmation_field
            = @donation.notification_email
          - @donation.donation_line_items.each_with_index do |dli, index|
            %label{:for => "line_item_description"}="#{dli.description}:"
            %span.confirmation_field
              = dli.amount.format(:html)
          %label{:for => "total"}="Total:"
          %span.confirmation_field
            = @donation.amount.format(:html)
          %p
            = submit_tag "Continue"
