.content
  %br/
  %p
    = image_tag "titles/cart.gif"
    %br/
    %br/
  %table{:width => "96%", :cellspacing => "0", :cellpadding => "5", :border => "0", :align => "center"}
    -# Header
    %tr
      %td{:class => "large-text", :height => "36", :width => "111", :bgcolor => "#f8faf5"}
        %p.large-text= :photo.l
      %td{:class => "large-text", :height => "36", :width => "141", :bgcolor => "#f8faf5"}
        %p.large-text= :saver_name.l
      %td{:class => "large-text", :height => "36", :width => "124", :bgcolor => "#f8faf5"}
        %p.large-text= :city.l
      %td{:class => "large-text", :height => "36", :width => "292", :bgcolor => "#f8faf5"}
        %p.large-text= :goal_description.l
      %td{:class => "large-text", :height => "36", :width => "83", :bgcolor => "#f8faf5"}
        %p.large-text= :amount.l
      %td{:class => "large-text", :height => "36", :width => "89", :bgcolor => "#f8faf5", :align => "center"}
        %p.large-text= :action.l
    -# Spacer Row
    %tr
      %td{:valign => "middle", :align => "left", "colspan" => "6"}
        %span{:style => "background-repeat: repeat-x;"}
          %img{:height => "2", :width => "2", :src => "#{image_path('icons/spacer.gif')}"}
    -# Table
    - @pledge.donations.each do |donation|
      = render :partial => 'pledges/donation', :locals => {:donation => donation}
    %tr
      %td
      %td
      %td
        = "Total = #{@pledge.total_amount_for_donations.format(:html)}"
      %td
        - form_for :pledge, :url => { :controller => :pledges, :action => :savetogether_ask } do |f|
          = f.submit :continue.l
