.content

  %h1{:style => "margin-bottom: 15px;"}
    =:my_matches.l.titleize

  %table{:width => "96%", :cellspacing => "0", :cellpadding => "5", :border => "0", :align => "center"}
    -# Invoice Headings Row
    = render :partial => 'pledges/invoice/headings_row', :locals => {:photo_col_name => :photo.l, :item_col_name => :saver_name.l, :program_col_name => :program.l, :description_col_name => :goal_description.l, :amount_col_name => :amount.l, :action_col_name => :remove_saver_question.l}
    
    -# Spacer Row
    = render :partial => 'pledges/invoice/top_spacer_row'
    
    -# Donations Table
    - @pledge.donations.each do |donation|
      = render :partial => 'pledges/invoice/donation/donation', :locals => {:donation => donation}

    -# Footer row - Controls and Total
    = render :partial => 'pledges/invoice/summary_row.html.haml'
    
    -# Final spacer row
    = render :partial => 'pledges/invoice/bottom_spacer_row'
    
    -# Qualifying copy
    = render :partial => 'pledges/invoice/fine_print'
      
