#profile_details.box.hentry
  .yui-g
    .yui-u.first
      %h3
        = @saver.first_name.capitalize
      .centered
        = link_to image_tag( @saver.avatar_photo_url(:medium), :class => 'polaroid'), user_path(@saver)
    .yui-u
      %h3
        Donation
      - form_for @pledge, :url => { :action => :create }, :html => { :class => "MainForm" } do |f|
        = hidden_field_tag :saver_id, @saver.id
        = f.error_messages
        #donation_line_items
          - fields_for "pledge[donation_attributes][0]" do |li_form|
            .donation_line_item
              %label{:for => "saver_donation"}
                = "Amount you would like to donate to #{@saver.first_name.capitalize}:"
              = li_form.text_field :amount, :size => 7, :value => "50"
              = li_form.hidden_field :to_user_id, :value => @saver.id
          - fields_for "pledge[donation_attributes][1]" do |li_form|
            .donation_line_item
              %label{:for => "st_donation"}
                (Optional) amount you would like to donate to SaveTogether:
              = li_form.text_field :amount, :size => 7, :value => "5"
              = li_form.hidden_field :to_user_id, :value => @storg.id
        %p
          - if current_user
            = submit_tag :donate.l
          - else
            = submit_tag :continue.l
