.st-block
  #profile_details.box.hentry
    .yui-g
      .yui-u.first
        %h3
          = @saver.login
        .centered
          = link_to image_tag( @saver.avatar_photo_url(:medium), :class => 'polaroid'), user_path(@saver)
      .yui-u
        %h3
          Donation
        - form_for @pledge, :url => { :action => :create }, :html => { :class => "MainForm" } do |f|
          = hidden_field_tag :saver_id, @saver.id
          = f.error_messages
          #donation_line_items
            - fields_for "pledge[donation_attributes][0]" do |li_form|
              .donation_line_item
                %label{:for => "saver_donation"}
                  = "Amount you would like to donate to #{@saver.login}:"
                = li_form.text_field :amount, :size => 7, :value => "50"
                = li_form.hidden_field :to_user_id, :value => @saver.id
            - fields_for "pledge[donation_attributes][1]" do |li_form|
              .donation_line_item
                %label{:for => "st_donation"}
                  (Optional) amount you would like to donate to SaveTogether:
                = li_form.text_field :amount, :size => 7, :value => "5"
                = li_form.hidden_field :to_user_id, :value => @storg.id
            - if !current_user
              %h3
                = :log_in_to_site.l(:site => AppConfig.community_name)
                %label{"for"=>"username"}=:username.l
                = text_field_tag 'login', nil, :size => 35
                %label{"for"=>"password"}=:password.l
                = password_field_tag 'password', nil, :size => 35
                %fieldset
                  %label{"for"=>"remember_me"}
                    = :remember_me.l
                    = check_box_tag 'remember_me'
              %p
                = submit_tag :log_in.l
              %h3= :sign_up.l
              = error_messages_for :donor
              - fields_for :donor do |donor_form|
                %label{:for => "user_login"}
                  = :username.l
                  %em= :required_your_username_must_not_contain_numerals_spaces_or_special_characters.l
                = donor_form.text_field :login

                %label{:for => "user_email"}
                  = :e_mail_address.l
                  %em=:required_we_will_send_a_confirmation_e_mail_to_the_address_you_enter.l
                = donor_form.text_field :email

                - if AppConfig.require_captcha_on_signup
                  .right{:style => 'margin-top:2em;'}= recaptcha_tags

                %label{"for"=>"user_password"}
                  = :type_your_password.l
                = donor_form.password_field :password
                %label{"for"=>"user_password_confirmation"}
                  = :re_type_your_password_to_confirm.l
                = donor_form.password_field :password_confirmation
            %p
              = submit_tag :continue.l

