.st-block
  #profile_details.box.hentry
    .yui-g
      .yui-u.first
        %h3
          = @donation.saver.login
        .centered
          = link_to image_tag( @donation.saver.avatar_photo_url(:medium), :class => 'polaroid'), user_path(@donation.saver)
      .yui-u
        %h3
          Donation
        - form_for @pledge, :url => { :action => :create } :html => { :class => "MainForm" } do |f|
          = hidden_field_tag :saver_id, @saver.id
          = f.error_messages
          #donation_line_items
            - fields_for "pledge[line_item_attributes][0]" do |li_form|
              .donation_line_item
                %label{:for => "saver_donation"}
                  ="Amount you would like to donate to #{@saver.login}:"
                = li_form.text_field :amount, :size => 7, :value => "50"
                = li_form.hidden_field :user_id, :value => @saver.id
            - fields_for "pledge[line_item_attributes][1]" do |li_form|
              .donation_line_item
                %label{:for => "st_donation"}
                  (Optional) amount you would like to donate to SaveTogether:
                = li_form.text_field :amount, :size => 7, :value => "50"
                = li_form.hidden_field :user_id, :value => @saver.id
          %label{:for => "notification_email"}="Send Notifications To:"
          = f.text_field :notification_email
          %label{:for => "email_confirmation"}="Confirm Notification Email:"
          = f.text_field :notification_email_confirmation
          %p
            = submit_tag "Continue"
