<table width="100%">
  <% form_for "https://www.sandbox.paypal.com/cgi-bin/webscr", :method => :post do |f| -%>
    <%= f.hidden_field :saver_id, :value => @saver.id%>
    <%= f.hidden_field :cancel_return, :value => "http://www.savetogether.org/" %>
    <%= f.hidden_field :bn, :value => "ActiveMerchant" %>
    <%= f.hidden_field :redirect_cmd, :value => "_cart" %>
    <%= f.hidden_field :cmd, :value => "_cart" %>
    <%= f.hidden_field :upload, :value => "1" %>
    <%= f.hidden_field :notify_url, :value => url_for(:only_path => false, :action => 'notify') %>
    <%= f.hidden_field :charset, :value => "utf-8" %>
    <%= f.hidden_field :return, :value => url_for(:only_path => false, :action => 'create') %>

    <%= f.hidden_field :tax, :value => "0.00" %>
    <%= f.hidden_field :business, :value => "tom@savetogether.org" %>
    <%= f.hidden_field :address_override, :value => "0" %>
    <%= f.hidden_field :shipping, :value => "0.00" %>
    <%= f.hidden_field :no_note, :value => "1" %>
    <%= f.hidden_field :no_shipping, :value => "1" %>
    <%= f.hidden_field :currency_code, :value => "USD" %>
    <div id="donation_line_items">
      <div class="donation_line_item">
        <tr>
            <td align="left" width="25%">
                Amount you would like to donate to <%= @saver.login %>
            </td>
            <td align="left">
                <%= @pledge.line_items[0].amount.format(:html) %>
                <%= f.hidden_field :item_number_0, :value => @saver.id %>
                <%= f.hidden_field :item_name_0, :value => @saver.login %>
                <%= f.hidden_field :item_amount_0, :value => @pledge.line_items[0].amount %>
            </td>
        </tr>
      </div>
      <div class="donation_line_item">
          <tr>
            <td align="left" width="25%">
              (Optional) amount you would like to donate to SaveTogether
            </td>
            <td align="left">
                <%= @pledge.line_items[1].amount.format(:html) %>
                <%= f.hidden_field :item_number_1, :value => @storg.id %>
                <%= f.hidden_field :item_name_1, :value => @storg.login %>
                <%= f.hidden_field :item_amount_1, :value => @pledge.line_items[1].amount %>
            </td>
          </tr>
      </div>
    </div>
    <tr>
        <td align="left" width="25%">Send Notifications To
        </td>
        <td align="left"><%= f.text_field :notification_email %>
        </td>
    </tr>
    <tr>
        <td align="left" width="25%">Confirm Notification Email
        </td>
        <td align="left"><%= f.text_field :notification_email_confirmation %>
        </td>
    </tr>
    <tr>
        <td>
        </td>
        <td><%= f.submit "Continue" %>
        </td>
    </tr>
  <% end %>
</table>
