.content
  %br/
  %p
    %h2= "(Optional) Amount you would like to donate to SaveTogether: "
    %br/
    %br/
  %table{:width => "96%", :cellspacing => "0", :cellpadding => "5", :border => "0", :align => "center"}
    %tr
      %td.photo
        = image_tag( @storg.avatar_photo_url(:medium), :class => "polaroid" )
      %td
        = "SaveTogether is a small organization with big ambitions.  We want to create a world where everyone has an opportunity to save and invest in their own future, and saving incentives are available to all.  To make this happen, we need your help.  Your donation will help us reach more people who deserve this chance.  We thank you for your support."
    %tr
      %td
      %td{:align => 'right'}
        %br
        - form_for @donation, :url => { :controller => :pledges, :action => :add_savetogether_to_pledge } do |f|
          = f.select :cents, select_savetogether_amounts_cents_values
          = f.hidden_field :to_user_id
          %br
          %br
          = f.submit 'add'
          %br
          %br
          = link_to "No thanks just continue..", :controller => :pledges, :action => :show
