.content
  %br/
  %p
    = image_tag "#{image_path('titles/confirmdonation.gif')}"
    %br/
    %br/
  %table{:width => "96%", :cellspacing => "0", :cellpadding => "5", :border => "0", :align => "center"}
    -# Invoice Headings Row
    = render :partial => 'pledges/invoice/headings_row', :locals => {:photo_col_name => :photo.l, :item_col_name => :saver_name.l, :program_col_name => :program.l, :description_col_name => :goal_description.l, :amount_col_name => :amount.l, :action_col_name => :action.l}
    
    -# Spacer Row
    = render :partial => 'pledges/invoice/top_spacer_row'
    
    -# Donations Table
    - @pledge.donations.each do |donation|
      = render :partial => 'pledges/donation', :locals => {:donation => donation}
      
    -# Footer row - Controls and Total
    = render :partial => 'pledges/invoice/summary_row_to_pp.html.haml'
    
    -# Final spacer row
    = render :partial => 'pledges/invoice/bottom_spacer_row'
