.content
  %br/
  %p
    -# = image_tag "titles/cart.gif" Replace the following with new title when available
    %h2= "Confirm Donation"
    %br/
    %br/
  %table{:width => "96%", :cellspacing => "0", :cellpadding => "5", :border => "0", :align => "center"}
    -# Invoice Headings Row
    = render :partial => 'pledges/invoice/headings_row'
    
    -# Spacer Row
    = render :partial => 'pledges/invoice/top_spacer_row'
    
    -# Donations Table
    - @pledge.donations.each do |donation|
      = render :partial => 'pledges/donation', :locals => {:donation => donation}
      
    -# Footer row - Controls and Total
    = render :partial => 'pledges/invoice/summary_row_to_pp.html.haml'
    
    -# Final spacer row
    = render :partial => 'pledges/invoice/bottom_spacer_row'
