.content
  .about-us
    .two-column-layout
      .tcl-column.left
        %div{:style => "width:98%; padding-bottom:250px; border-style: dotted; border-color: #a9b270; border-width: 1px;"}
          %p
            I wouldn't change anything graphic
        %p
        %span.text12GreenTitle
          The Team
        %p
        %span.text12GreenBold
          ="Eric Desio | Web Design".upcase
        %p
        %span.text12GreenBold
          Kate Deyoe | Strategy and Planning
        %p
        %span.text12GreenBold
          Doug Scott | Product Development Team
        %p
        %span.text12GreenBold
          Laura Williams | Volunteer Strategy and Coordination
        %span.text12
        %p
        %span.text12GreenBold
          Leigh George | Brand Strategy
        %p
        %span.text12GreenTitle 
          Board of Directors
        %p
        %span.text12GreenBold
          Jennifer Brooks | Policy Director, CFED
        %p
        %span.text12GreenBold
          Michael Kabisch, Case Manager, Evergreen Treatment Services
        %p
        %span.text12GreenBold
          Ben Mangan | CEO, EARN
        %p
        %span.text12GreenBold
          Shaolee Sen | Marketing and Communication Director, Opportunity Fund
        %p
        %span.text12GreenBold
          Marc Spencer | CEO, Juma Ventures
        %p
        %span.text12GreenTitle
          Supporters
        %table{:class=>"text12", :cellspacing=>"5", :cellpadding=>"5"}
          %tr
            %td
              %a{:href=>'http://www.cfed.org'}CFED
            %td
              %a{:href=>'http://americandreammatchfund.org'}American Dream Match Fund
            %td
              %a{:href=>'http://www.siliconvalleycf.org'}Silicon Valley Community Foundation
        %ul
          %li<
            ="Item 1"
            %span.sep<>
              ="|"
          %li<
            ="Item 2"
            %span.sep<>
              ="|"
          %li<
            ="Item 3"
        %p
        %span.text12GreenTitle
          Matched Savings Program Partners
        %table{:class=>"text12", :cellspacing=>"5", :cellpadding=>"5"}
          %tr
            %td
              %a{:href=>'http://www.earn.org'}EARN
            %td
              %a{:href=>'http://www.jumaventures.org'}Juma Ventures
            %td 
              %a{:href=>'http://www.opportunityfund.org'}Opportunity Fund
            %td
              %a{:href=>'http://www.snapnorthwest.org'}SNAP
            %td
              %a{:href=>'http://www.massassets.org'}Midas Collaborative
        %p
        %span.text12GreenTitle
          Corporate/Institutional Partners
        %p 
        %table{:class=>"text12", :cellspacing=>"5", :cellpadding=>"5"}
          %tr
            %td
              %a{:href=>'http://www.dwt.com'}Davis Wright Tremaine
            %td
              %a{:href=>'http://www.grahamdunn.com'}Graham Dunn
            %td
              %a{:href=>'http://www.perkinscoie.com'}Perkins Coie
          %tr
            %td
              %a{:href=>'http://www.law.washington.edu/clinics/entrepreneurial/'}UW Entrepreneurial Law Clinic
            %td
              %a{:href=>'http://www.bzzagent.com'}BzzAgent
            %td
              %a{:href=>'http://www.balsamiq.com'}Balsamiq Mockups 
        %p
        %span.text12GreenTitle
          Bay Area Working Group
        %p
        %table{:class=>"text12", :cellspacing=>"5", :cellpadding=>"5"}
          %tr
            %td
              Gwendy Donaker Brown
            %td
              Jenna Boyer
            %td
              Kim Chueng
            %td
              Liz Coit
            %td
              Bob Friedman
          %tr
            %td
              Gwyneth Galbraith
            %td
              Dan Geballe
            %td
              Liz Givens
            %td
              Arun Israel
            %td
              Caitlin McShane
          %tr
            %td
              Eric Norman
            %td
              Kim Pate
            %td
              April Rinne
            %td
              Maria Sison
            %td
              Lonnie Snyder
          %tr
            %td
              Sarah Sullivant
            %td
              Leigh Tivol
            %td
              Megan Trainer
            %td
              Rochelle Watson
            %td
              Eric Weaver 
        %p
        %span.text12GreenTitle
          Volunteers 
        %table{:cellspacing=>"5",:cellpadding=>"5",:class=>"text12"}
          %tr
            %td
              Cathy Barsukoff
            %td
              Jesse Clark
            %td
              Ken Everett
            %td
              Conor Higgins
            %td
              MacKenzie Huff
                
      .tcl-column.right

        %h2
          About Us
        .block
          .thumbnail
            = image_tag "#{image_path('thumbnails/dylanh.png')}"
          %h3
            Executive Team
          %h4
            %a{:href=>'mailto:dylan@savetogether.org'}
              DYLAN HIGGINS
            | CO-FOUNDER, CEO
          %p
            Dylan is a former management consultant with Accenture and a licensed attorney. At Accenture, he led teams performing strategy, business process, product management and IT consulting for multiple Fortune 100 companies and start-ups. As an attorney, he focused on complex commercial litigation in federal and state courts.
          %p
            He has significant work experience in Asia, Africa, and Europe and has traveled to over 20 countries.  His passion for matched savings was born out of his recent Kiva fellowship in Ghana where he saw first hand the benefits of improving access to financial services for the working poor.
          %p
            While not working to change the world one saver at a time, Dylan enjoys sailing his 28-foot sailboat Saoirse or revising his first novel – yet again.
        .block
          .thumbnail
            = image_tag "#{image_path('thumbnails/blairb.png')}"
          %h3
            Executive Team
          %h4
            %a{ :href=>'mailto:blair@savetogether.org' }
              BLAIR BENJAMIN
            | CO-FOUNDER, COO
          %p
            Blair is an asset development practitioner, managing Assets for Artists, an IDA program for low-income artists and artisans in the Berkshires of western Massachusetts. He writes regularly about the asset development field on his Asset Almanac blog. 
          %p
            Other experience in community development includes serving as Director of Real Estate and Community Development for the Massachusetts Museum of Contemporary Art (MASS MoCA), directing all commercial real estate development and leasing for 125,000 square feet of income-producing space. He serves on the boards of the Berkshire Creative Economy Council and Northern Berkshire United Way. 
          %p
            Previously, he served as Director of Development for MASS MoCA, leading a development team that raised over $2 million per year in contributed income, worked as Director of Marketing, Development and Community Relations for the Flatbush Development Corporation (a nonprofit community development corporation in Brooklyn), and served as a Peace Corps volunteer supporting agricultural and craft-based microenterprise development in the Ivory Coast. 
        .block
          .thumbnail
            = image_tag "#{image_path('thumbnails/tomb.png')}"
          %h3
            Executive Team
          %h4
            %a{ :href=>'mailto:tom@savetogether.org'}
              TOM BOSTELMANN
            | CO-FOUNDER, CTO
          %p
            Originally from Minneapolis, Tom moved to Seattle to develop open-source software and is an IP Consultant and software architect in the Seattle area.  In 2000 he worked for a 'social business' (a term Muhammud Yunus coined) called Viatru that provided U.S. market opportunities for artisans in developing countries.
          %p
            Tom has also served several years as a volunteer teacher with organizations such as Technology Access Foundation and BDPA.  Finally, Tom has taken Muhammud Yunus' pledge to end poverty and he hopes that his work with SaveTogether will contribute to that.

