.content
  .about-us
    .two-column-layout.wide
      .tcl-column.left
        %div{:style => "width:98%; padding-bottom:250px; border-style: dotted; border-color: #a9b270; border-width: 1px;"}
          %p
            "I wouldn't change anything..." graphic
        .block.no-border
          %h3
            The Team
          %h4.sub.first
            %em
              ERIC DESIO
            WEB DESIGN
          %h4.sub
            %em
              KATE DEYOE
            STRATEGY AND PLANNING
          %h4.sub
            %em
              DOUG SCOTT
            PRODUCT DEVELOPMENT TEAM
          %h4.sub
            %em
              LAURA WILLIAMS
            VOLUNTEER STRATEGY AND COORDINATION
          %h4.sub
            %em
              LEIGH GEORGE
            BRAND STRATEGY
        .block
          %h3
            Board of Directors
          %h4.sub.first
            %em
              JENNIFER BROOKS
            POLICY DIRECTOR, CFED
          %h4.sub
            %em
              MICHAEL KABISCH
            CASE MANAGER, EVERGREEN TREATMENT SERVICES
          %h4.sub
            %em
              BEN MANGAN
            CEO, EARN
          %h4.sub
            %em
              SHAOLEE SEN
            MARKETING AND COMMUNICATION DIRECTOR, OPPORTUNITY FUND
          %h4.sub
            %em
              MARC SPENCER
            CEO, JUMA VENTURES
        .block
          %h3
            Supporters
          %ul.last
            %li.first
              %a{:href=>'http://www.cfed.org'}
                CFED
            %li
              %a{:href=>'http://americandreammatchfund.org'}
                AMERICAN DREAM MATCH FUND
            %li
              %a{:href=>'http://www.siliconvalleycf.org'}
                SILICON VALLEY COMMUNITY FOUNDATION
        .block
          %h3
            Matched Savings Program Partners
          %ul.last
            %li.first
              %a{:href=>'http://www.earn.org'}
                EARN
            %li
              %a{:href=>'http://www.jumaventures.org'}
                JUMA VENTURES
            %li
              %a{:href=>'http://www.opportunityfund.org'}
                OPPORTUNITY FUND
            %li
              %a{:href=>'http://www.snapnorthwest.org'}
                SNAP
            %li
              %a{:href=>'http://www.massassets.org'}
                MIDAS COLLABORATIVE
        .block
          %h3
            Corporate/Institutional Partners
          %ul
            %li.first
              %a{:href=>'http://www.dwt.com'}
                Davis Wright Tremaine
            %li
              %a{:href=>'http://www.grahamdunn.com'}
                Graham Dunn
            %li
              %a{:href=>'http://www.perkinscoie.com'}
                Perkins Coie
          %ul.last
            %li.first
              %a{:href=>'http://www.law.washington.edu/clinics/entrepreneurial/'}
                UW Entrepreneurial Law Clinic
            %li
              %a{:href=>'http://www.bzzagent.com'}
                BzzAgent
            %li
              %a{:href=>'http://www.balsamiq.com'}
                Balsamiq Mockups 
        .block
          %h3
            Bay Area Working Group
          %ul.condensed
            %li
              Gwendy Donaker Brown
            %li
              Jenna Boyer
            %li
              Kim Chueng
            %li
              Liz Coit
            %li
              Bob Friedman
          %ul.condensed
            %li
              Gwyneth Galbraith
            %li
              Dan Geballe
            %li
              Liz Givens
            %li
              Arun Israel
            %li
              Caitlin McShane
          %ul.condensed
            %li
              Eric Norman
            %li
              Kim Pate
            %li
              April Rinne
            %li
              Maria Sison
            %li
              Lonnie Snyder
          %ul.condensed.last
            %li
              Sarah Sullivant
            %li
              Leigh Tivol
            %li
              Megan Trainer
            %li
              Rochelle Watson
            %li
              Eric Weaver 
        .block
          %h3
            Volunteers 
          %ul.condensed
            %li
              Cathy Barsukoff
            %li
              Jesse Clark
            %li
              Ken Everett
            %li
              Conor Higgins
            %li
              MacKenzie Huff
                
      .tcl-column.right

        = image_tag "#{image_path('titles/about.gif')}"
        .block
          .thumbnail
            = image_tag "#{image_path('thumbnails/dylanh.png')}"
          %h3
            Executive Team
          %h4
            %a{:href=>'mailto:dylan@savetogether.org'}
              DYLAN HIGGINS
            CO-FOUNDER, CEO
          %p
            Dylan is a former management consultant with Accenture and a licensed attorney. At Accenture, he led teams performing strategy, business process, product management and IT consulting for multiple Fortune 100 companies and start-ups. As an attorney, he focused on complex commercial litigation in federal and state courts.
          %p
            He has significant work experience in Asia, Africa, and Europe and has traveled to over 20 countries.  His passion for matched savings was born out of his recent Kiva fellowship in Ghana where he saw first hand the benefits of improving access to financial services for the working poor.
          %p
            While not working to change the world one saver at a time, Dylan enjoys sailing his 28-foot sailboat Saoirse or revising his first novel – yet again.
        .block
          .thumbnail
            = image_tag "#{image_path('thumbnails/blairb.png')}"
          %h3
            Executive Team
          %h4
            %a{ :href=>'mailto:blair@savetogether.org' }
              BLAIR BENJAMIN
            CO-FOUNDER, COO
          %p
            Blair is an asset development practitioner, managing Assets for Artists, an IDA program for low-income artists and artisans in the Berkshires of western Massachusetts. He writes regularly about the asset development field on his Asset Almanac blog. 
          %p
            Other experience in community development includes serving as Director of Real Estate and Community Development for the Massachusetts Museum of Contemporary Art (MASS MoCA), directing all commercial real estate development and leasing for 125,000 square feet of income-producing space. He serves on the boards of the Berkshire Creative Economy Council and Northern Berkshire United Way. 
          %p
            Previously, he served as Director of Development for MASS MoCA, leading a development team that raised over $2 million per year in contributed income, worked as Director of Marketing, Development and Community Relations for the Flatbush Development Corporation (a nonprofit community development corporation in Brooklyn), and served as a Peace Corps volunteer supporting agricultural and craft-based microenterprise development in the Ivory Coast. 
        .block
          .thumbnail
            = image_tag "#{image_path('thumbnails/tomb.png')}"
          %h3
            Executive Team
          %h4
            %a{ :href=>'mailto:tom@savetogether.org'}
              TOM BOSTELMANN
            CO-FOUNDER, CTO
          %p
            Originally from Minneapolis, Tom moved to Seattle to develop open-source software and is an IP Consultant and software architect in the Seattle area.  In 2000 he worked for a 'social business' (a term Muhammud Yunus coined) called Viatru that provided U.S. market opportunities for artisans in developing countries.
          %p
            Tom has also served several years as a volunteer teacher with organizations such as Technology Access Foundation and BDPA.  Finally, Tom has taken Muhammud Yunus' pledge to end poverty and he hopes that his work with SaveTogether will contribute to that.

