-@page_title= :contact_us.l.titleize

.content

  %h1
    =:contact_us.l.titleize
    %span{:style => "font-size: 16px; font-weight: normal;"}
      = link_to '(Partner Signup&raquo;)', new_organization_path

  .block{:style => "height: 250px;"}
    .single-column
      %h3{:style => "margin-bottom: 15px;"}
        = "Email: "
        %a{:href => "mailto:info@savetogether.org?Subject=Contact SaveTogether"}= "info@savetogether.org"
      %h3{:style => "margin-bottom: 15px;"}
        = "Phone: "
        %span{:style => "color: #5b930d;"}
          = "(206) 414-9793"
      %h3{:style => "margin-bottom: 15px;"}
        = "Mail: "
        %span{:style => "color: #5b930d;"}
          = "2701 California Ave. S.W, #247"
      %h3{:style => "margin-left: 37px; margin-bottom: 15px;"}
        %span{:style => "color: #5b930d;"}
          = "Seattle, WA 98116-2405"
      %h3{:style => "margin-bottom: 15px;"}
        = "Feedback: "
        %a{:href => "http://www.surveymonkey.com/s.aspx?sm=7k5ubSScp98pJb9d1Y22pQ_3d_3d"}
          = "(Survey)"
      %h3{:style => "margin-bottom: 15px;"}
        ="Follow Us:"
        =link_to image_tag(image_path('icons/linkedin_32.png'), {:alt => 'linkedin', :style => "height: 32px; margin-left: 5px; margin-right: 5px"}), "http://www.linkedin.com/groups?gid=1622727"
        =link_to image_tag(image_path('icons/facebook_32.png'), {:alt => 'facebook', :style => "height: 32px; margin-left: 0px;"}), "http://www.facebook.com/pages/SaveTogether/201523205283"
        =link_to image_tag(image_path('icons/Twitter_32.png'), {:alt => 'twitter', :style => "right; height: 32px;"}), "http://www.twitter.com/savetogether"

