- @page_title = :how_it_works.l.titleize

.content
  .how-it-works

  %h1
    =:how_it_works.l.titleize

    .block{:style => "margin-top: 10px;"}
      .two-column-layout{:style => "height: 270px;"}
        .tcl-column.left.two-thirds

          .block.no-border
            %h3
              How SaveTogether Works
            %h4
              THEY SAVE
            %p
              Low-wage workers committed to becoming financially secure save their own money toward a specified goal, such as higher education, a home, or a small business. We feature their stories and photos to inspire other real people, like you, to help open up economic opportunity for all Americans.
            %h4
              YOU MATCH
            %p
              We leverage the power of everyday people like you to multiply the savings of low-wage workers.  Each dollar you donate is matched again with funds from an experienced non-profit partner organization.  The partner organization works with SaveTogether to help select, train, and advise the participants.
            %h4
              TOGETHER, WE PROSPER
            %p
              By supporting low-wage workers and providing financial education, we build economic stability for all.

        .tcl-column.right.one-third

          %div{:style => "float:right; margin: 15px 25px 0px 5px;"}
            =image_tag "#{image_path('graphics/how_it_works.jpg')}"

    .single-column
      .block.no-border{:style => "margin-top:20px;"}
        %div{:style => "float:left; margin-top: 40px; margin-right: 75px; margin-left: 75px; margin-bottom: 20px;"}
          =image_tag "#{image_path('graphics/investment.jpg')}"

        %h3
          How are Savers Selected
        %p
          SaveTogether identifies partners with leading non-profit organizations throughout the United States that are offering matching savings accounts for low-wage workers. These partners carefully screen and select savers by requiring detailed applications, interviews, and submission of financial documents to demonstrate commitment to the program. We collaborate with these organizations to identify savers to profile on our website.   The savers are real people who are working hard to put away some of their income each month toward their specified goal. 

        %h3
          How To Get Started
        %p
          You choose a saver whose story and aspirations inspire you, and you agree to make a donation.  Your secure, tax-deductible gift doesn’t go directly to that individual – the IRS wouldn’t approve!   Instead, your gift is distributed to the partner organization that is supporting your selected saver.   Your gift is deposited into the pool of match funds to be used toward the creation of new matched savings accounts at that organization.
        %p
          The savers profiled on our website are making it possible for other low-wage workers to follow in their footsteps.  While the profiled savers have already been promised their match from other funds, they are looking to pay it forward and raise money so that other people can have the same life-changing opportunity.  With as little as $1, you can honor that dedication.
        %p
          After you make a donation, we will provide you with updates on the progress of the saver who inspired you to give.  This unique model of community-enhanced savings and investment strengthens economic and social ties.

    .single-column
    
      %div{:class => "block", :style => "margin-top:20px;"}
        %div{:style => "float:right; margin: 20px 55px 25px 75px;"}
          =image_tag "#{image_path('graphics/commitment.jpg')}"
        %h3
          How Non-Profits Match the Savings of Low-Wage Workers
        %p
          For over 20 years, non-profit organizations have offered matched savings programs and proven that when given the opportunity, low-wage workers will work, learn, and save to buy homes, start businesses or pursue higher education. A matched savings program provides secured savings accounts, along with matching incentives and financial education classes, for low-wage workers. All savings and matching funds—including 100 percent of your donation—are held in trust until the saver reaches their goal and completes the financial education.
        %h4
          COMMITMENT TO A DREAM
        %p
          Participants in matched savings programs are already working hard toward a goal that will increase their financial independence. They might be saving for college tuition, a home for their family, or an investment in a small business. By joining the program, the saver can earn a match for every dollar saved toward their dream.
        %p
          Each matched savings program is a little different. They vary in savings limits, match ratios, program length, and eligibility criteria, but generally, eligibility is based on the federal poverty level and median incomes for the area, as well as demonstration of commitment to the training process and the investment goal. Once savers are accepted to a matched-savings program, they make deposits every month to a restricted account—where only the program administrator can approve withdrawals.
        %div{:style => "float:left; margin: 25px 80px 25px 80px;"}
          =image_tag "#{image_path('graphics/education.jpg')}"
        %h4
          EDUCATION FOR LONG-TERM SUCCESS
        %p
          All matched savings programs provide financial education and counseling classes. Savers get help with planning for the investment they intend to make, and they learn critical budgeting and savings skills they can apply toward short-term and long-term success. 
        %h4
          INVESTMENT IN A POVERTY-FREE FUTURE
        %p
          When the saver has participated for at least six months and completed all training requirements, they can begin to invest their savings—along with the matching funds they have earned—to realize their dream. The matched savings organization delivers funds straight to the vendor, and advises the saver on choosing responsible investments, helping to ensure that the plan will succeed.
        %p
          More questions? Visit our
          %a{:href => "#{faq_path}"}
            FAQ
          page.
