- @page_title = :how_it_works.l.titleize

.content
  .how-it-works

  %h1
    =:how_it_works.l.titleize

    .block{:style => "margin-top: 10px;"}
      .two-column-layout{:style => "height: 240px;"}
        .tcl-column.left.two-thirds

          .block.no-border
            %h3
              How SaveTogether Works
            %h4
              THEY SAVE
            %p
              Low-wage workers save their own money toward a specified goal, such as higher education, a home, or a small business. We feature their stories and photos to inspire other real people, like you, who can help them realize their dreams.
            %h4
              YOU MATCH
            %p
              We leverage the economic power of everyday people like you to triple the participant’s savings. Each dollar you donate is matched again by a non-profit organization increasing the impact.
            %h4
              TOGETHER, WE PROSPER
            %p
              By supporting low-wage workers and providing financial education, we build economic stability for all.

        .tcl-column.right.one-third

          %div{:style => "float:right; margin: 15px 25px 0px 5px;"}
            =image_tag "#{image_path('graphics/how_it_works.jpg')}"

    .single-column
      .block.no-border{:style => "margin-top:20px;"}
        %div{:style => "float:left; margin-top: 20px; margin-right: 15px;"}
          =image_tag "#{image_path('graphics/investment.jpg')}"

        %h3
          How are Savers Selected
        %p
          SaveTogether identifies leading non-profit organizations throughout the United States that are offering matching savings programs for low-wage workers. After completing a due diligence process, we collaborate with these organizations to identify savers to post onto our platform. The savers are real people who are working hard to put away some of their income each month toward their specified goal.

        %h3
          How To Get Started
        %p
          You choose a saver whose story and aspirations inspire you, and agree to make a donation to match some or all of the savings goal. For as little as $25, you become a partner in their success. You can follow the saver’s progress on our site. Your secure, tax-deductible donation is matched again by the participating non-profit organization, so the saver can earn two more dollars for every dollar they save.

    .single-column
    
      %div{:class => "block", :style => "margin-top:20px;"}
        %div{:style => "float:right; margin: 0px 20px 15px 5px;"}
          =image_tag "#{image_path('graphics/commitment.jpg')}"
        %h3
          How Non-Profits Match the Savings of Low-Wage Workers
        %p
          For over 20 years, non-profit organizations have offered matched savings programs and proven that when given the opportunity, low-wage workers will work, learn, and save to buy homes, start businesses or pursue higher education. A matched savings program provides secured savings accounts, along with matching incentives and financial education classes, for low-wage workers. All savings and matching funds—including 100 percent of your donation—are held in trust until the saver reaches their goal and completes the financial education.
        %h4
          COMMITMENT TO A DREAM
        %p
          Participants in matched savings programs are already working hard toward a goal that will increase their financial independence. They might be saving for college tuition, a home for their family, or an investment in a small business. By joining the program, the saver can earn a match for every dollar saved toward their dream.
        %p
          Each matched savings program is a little different. They vary in savings limits, match ratios, program length, and eligibility criteria, but generally, eligibility is based on the federal poverty level and median incomes for the area. Once the saver is accepted to a matched-savings program, they make deposits every month to a restricted account—where only the program administrator can approve withdrawals.
        %div{:style => "float:left; margin: 25px 10px 25px 0;"}
          =image_tag "#{image_path('graphics/education.jpg')}"
        %h4
          EDUCATION FOR LONG-TERM SUCCESS
        %p
          All matched savings programs provide financial education and counseling classes. Savers get help with planning for the investment they intend to make, and they learn critical budgeting and savings skills they can apply toward short-term and long-term success.
        %h4
          INVESTMENT IN A POVERTY-FREE FUTURE
        %p
          When the saver has participated for at least six months and completed all training requirements, they can begin to invest their savings—along with the matched funds they have earned—to realize their dream. The matched savings organization delivers funds straight to the vendor, and advises the saver on choosing responsible investments, helping to ensure that the plan will succeed.
        %p
          More questions? Visit our
          %a{:href => "#{faq_path}"}
            FAQ
          page.
