-@page_title= :press_release.l

.content

  .single-column
    %h2
      = "SaveTogether Launches Unique Website to Fight Poverty in the U.S."

    %em
      = "Online Donors Match the Savings of Responsible Savers Dollar-for-Dollar"

    %p
      ="SEATTLE, WA—October 15, 2009— SaveTogether, a nonprofit organization that taps the power of matched savings to fight poverty and increase economic opportunity in the United States, announced the official launch of its website today ("
      =link_to "www.SaveTogether.org", "http://www.SaveTogether.org", :popup => true
      =").  SaveTogether encourages responsible savings and investment by matching the savings of eligible low-wage workers with the contributions of online donors.  No other platform like this exists in the United States."

    %ul{:type => "DISC", :style => "font-size: 12px;"}
      %li
        %b
          %u
            ="Identifies hard-working savers"
        = " who are determined to improve their lives and gain financial independence. Savers choose a specific goal to save for, such as starting a small business, home ownership, citizenship fees, retirement and post-secondary education."
      %li
        %b
          %u
            = "Encourages individual responsibility"
        = "by closely monitoring savings and requiring that savers attend financial education classes. All funds are deposited in restricted accounts controlled by SaveTogether administrators to ensure that savers meet their savings goals and spend funds only with approved vendors."
      %li
        %b
          %u
            = "Connects donors and savers"
        = " with a content-rich website that lets savers tell their stories and inspires donors to support their efforts at achieving financial independence. The site also provides donors with updates on the savers they support via regular progress reports."
      %li
        %b
          %u
            = "Dramatically increases a donor’s impact"
        = "  by providing an additional dollar-for-dollar match for each tax-deductible donation made on the website. By providing a two-for-one match for every dollar saved, a donor triples a saver’s deposits and helps that saver achieve economic freedom even faster."

    %p
      ="SaveTogether offers a unique and effective way of empowering individuals to reach their savings goals. At the same time, SaveTogether is helping shift the U.S. economy away from a tradition of borrow and spend to a new era in which Americans save and invest."

    %p
      ='“The everyday philanthropists who contribute on SaveTogether.org are making a real difference in the lives of responsible savers,” said SaveTogether CEO Dylan Higgins. “But in the end, both savers and donors are transformed when they join forces on SaveTogether and work toward the common goal of economic freedom. We hope that, over time, SaveTogether will help create a prosperous future for our country based on long-term saving and wise investment.”'

    %p
      ="In addition to raising funds from individual donors, SaveTogether plans to work with financial institutions, corporate sponsors, and community leaders to build new programs aimed at expanding the matched-savings marketplace."

    %p
      %b
        ="About SaveTogether"

    %p
      ="SaveTogether is a nonprofit organization that helps working-class Americans achieve financial independence by matching their own savings with contributions from donors across the country. With donors’ support and additional matching funds from SaveTogether, savers are able to buy a home, go to school, start a business and reach other life-changing goals. At the same time, SaveTogether seeks to change America’s borrow-and-spend culture by encouraging long-term saving and investment."

    %p
      ="Based in Seattle, SaveTogether is led by CEO Dylan Higgins, a former technology executive and attorney; COO Blair Benjamin, an asset-building practitioner and nonprofit manager; and CTO Tom Bostelmann, an experienced web developer. Founding partners include the leading organizations in the matched-savings field: San Jose, CA-based Opportunity Fund ("
      =link_to "www.opportunityfund.org", "http://www.opportunityfund.org", :popup => true
      ="), San Francisco-based EARN ("
      =link_to "www.earn.org", "http://www.earn.org", :popup => true
      ="), and Juma Ventures ("
      =link_to "www.jumaventures.org", "http://www.jumaventures.org/", :popup => true
      ="), as well as Washington, D.C.-based CFED ("
      =link_to "www.cfed.org", "http://www.cfed.org", :popup => true
      =")."

    %p
      = "More information is available on SaveTogether’s website: "
      = link_to "www.savetogether.org", "http://www.savetogether.org/"
      = "."