- @meta = { :description => AppConfig.meta_description, :keywords => AppConfig.meta_keywords, :robots => AppConfig.robots_meta_list_content }
- # This is for identifying current tab selection in navbar
- @section = 'home'

.st-block.box
  / Concept Row
  .yui-g
    .yui-u.first
      %h3
        What We Do
      %p
        We provide you with the opportunity to be a part of the solution to poverty by taking action to foster a culture of savings and investment.   Explore the SaveTogether community to find savers who have committed to a specific savings goal, opened a savings account at a financial institution, and are participating in financial education classes with our partner organizations.   
      %p
        Each saver is striving to reach their goal and invest the funds in their own dream.    Find a saver with a dream you can support.  Make a match now and you double the impact of this investment.
    .yui-u
      %table.concepts
        %tbody
          %tr
            %td.image{:colspan => "2"}
              = image_tag("pig.png")
            %td.image{:colspan => "2"}
              = image_tag("pig.png")
              = image_tag("pig.png")
            %td.image
              = image_tag("go-next.png")
            %td.image{:colspan => "2"}
              = image_tag("graduate.png")
          %tr
            %td.step
              1
            %td
              Participants set savings go and begin to save
            %td.step
              2
            %td
              You match their savings goal
            %td
              / Empty
            %td.step
              3
            %td
              Participants invest their matched savings
  / Featured Saver
  .yui-g
    %h3
      Featured Saver
      = link_to("(All Savers)", :controller=>'users', :action=>'index')
  .yui-g
    = render :partial => "users/user", :collection => @fsaver
