-# Home page only: Google Webmaster verification string and robots.txt pointer
- @meta = {:robots => AppConfig.robots_meta_list_content, "verify-v1" => "qUbzpZfuULUTf2nSxp3he3j3jq8yYp1MhbbCFG+i524="}
- @page_title = :savetogether_motto.l

.content
  .top{:style => "width: 900px; float: left;"}
    #question{:style => "float: left; width: 50%; margin-left: 80px;"}
      -#image_tag image_path('graphics/what-if-you-had-the-economic-power-to-break-poverty.jpg'), {:alt => 'what if you had the economic power to break povery?', :style => "margin-left: 25px; margin-bottom: -10px;"}
      %span{:style => "font-size: 30px; font-weight: bold; color: #5B930D; font-style: italic;"}
        What if you had the power to defeat poverty?
      %span{:style => "font-size: 30px; font-weight: bold; color: #ec972c; font-style: italic;"}
        Now you do!
    #success-stories{:style => "float: right; width: 220px; height: 340px;"}
      .success-story#fadeOn
        .image{:style => "width: 220px; border: 1px dashed #bbbbbb;"}
          = link_to((image_tag @successful_savers[0].avatar_photo_url(:small), {:alt => @successful_savers[0].display_name, :style => "width: 210px; height: 210px; margin: 5px;"}), saver_path(@successful_savers[0]))
        .display-name
          =link_to "#{@successful_savers[0].display_name}: A Success Story", saver_path(@successful_savers[0])
        %p
          - if @successful_savers[0].short_description?
            =truncate @successful_savers[0].short_description, :length => 160, :omission => "&hellip;"
          - else
            =truncate @successful_savers[0].description, :length => 160, :omission => "&hellip;"
      - (1..(@successful_savers.size - 1)).each do |index|
        .success-story{:style => "display: none;"}
          .image{:style => "width: 220px; border: 1px dashed #bbbbbb;"}
            = link_to((image_tag @successful_savers[index].avatar_photo_url(:small), {:alt => @successful_savers[index].display_name, :style => "width: 210px; height: 210px; margin: 5px;"}), saver_path(@successful_savers[index]))
          .display-name
            =link_to "#{@successful_savers[index].display_name}: A Success Story", saver_path(@successful_savers[index])
          %p
            - if @successful_savers[index].short_description?
              =truncate @successful_savers[index].short_description, :length => 160, :omission => "&hellip;"
            - else
              =truncate @successful_savers[index].description, :length => 160, :omission => "&hellip;"
    .explain{:style => "float: left; width: 675px;"}
      #one{:style => "float: left; width: 223px; margin-top: 10px;"}
        =image_tag image_path('graphics/they-save.jpg'), {:alt => 'they save', :style => "margin-top: 25px;"}
        .info-block
          .tagline
            ="For the things that matter most."
          %p
            ="Hard-working individuals save for life-changing goals such as a higher education, home or small business."
      #two{:style => "float: left; width: 203px; margin-top: 10px;"}
        =image_tag image_path('graphics/you-match.jpg'), {:alt => 'you match'}
        .info-block
          .tagline
            ="To multiply the impact."
          %p
            ="You match to help a saver reach their goal.  This tax-deductible contribution is doubled by a partner non-profit organization."
      #three{:style => "float: left; width: 219px; margin-top: 10px;"}
        =image_tag image_path('graphics/together-we-prosper.jpg'), {:alt => 'together we prosper'}
        .info-block
          .tagline
            ="With a poverty-free future."
          %p
            ="By helping people who are helping themselves, we create a world where any individual can save and invest in their own future."
  %br
  .middle{:style => "width: 900px; border-top: 1px dashed #bbbbbb; float: left; margin-top: 5px;"}

    .title{:style => "width: 100%; margin-top: 10px;"}
      %h2
        = "Featured Savers "
        %span{:style => "font-size: 16px; font-weight: normal;"}
          = link_to '(See All Savers &raquo;)', match_savers_path

    .featured-savers{:style => "margin-top: 15px;"}
      -@featured_savers.each do |saver|
        .featured{:style => "width: 215px; height: 100%; float: left;"}
          .image{:style => "width: 165px; height: 165px; border: 1px dashed #bbbbbb; margin-left: 5px; margin-right: 5px"}
            = link_to((image_tag saver.avatar_photo_url(:mini), {:alt => saver.display_name, :style => "width: 155px; height: 155px; margin: 5px;"}), saver_path(saver))
          .info-block
            .display-name
              =link_to saver.display_name, saver_path(saver)
            %p
              - if saver.short_description?
                =truncate saver.short_description, :length => 105, :omission => "&hellip;"
              - else
                =truncate saver.description, :length => 105, :omission => "&hellip;"
              =link_to "more &raquo;", saver_path(saver)
            .info{:style =>"float:left; width: 90%; font-size: 12px;"}
              = render(:partial => "savers/match_box/control_no_select_list", :locals => {:saver => saver})
      .panel.match-now{:style => "float: left; width: 235px; height: 90%"}
        .donor-quotes{:style => "height: 10em;"}
          .donor-quote#displayedQuote
            %span{:style => "float: right; margin-top: 25px; line-height: 130%; color: #7ca13e;"}
              %em{:style => "font-size: 14px;"}
                = "I am excited to be part of a community that is working hard to break the cycle of poverty via a culture of disciplined saving and investment."
            %em{:style => "float: right; font-size: 12px; color: #7ca13e;"}
              = "- Kate, a SaveTogether donor"
          .donor-quote{:style => "display: none;"}
            %span{:style => "float: right; margin-top: 25px; line-height: 130%; color: #7ca13e;"}
              %em{:style => "font-size: 14px;"}
                ="We must lay a new foundation for growth and prosperity – a foundation that will move us from an era of borrow and spend to one where we "
              %em{:style => "font-size: 16px; font-weight: bold;"}
                ="save and invest."
            %br
            %em{:style => "float: right; font-size: 12px; color: #7ca13e;"}
              ="- President Barack Obama"
          .donor-quote{:style => "display: none;"}
            %span{:style => "float: right; margin-top: 25px; line-height: 130%; color: #7ca13e;"}
              %em{:style => "font-size: 14px;"}
                = "Once someone sees the power of saving a little each month - they can create a new kind of financial mind set that allows them to attain goal after goal."
            %em{:style => "float: right; font-size: 12px; color: #7ca13e;"}
              = "- Leslie, a SaveTogether donor"
      .text
        =link_to image_tag(image_path('buttons/get-started.jpg'), {:alt => 'get started', :style => "float: right; margin-top: 10px;"}), match_savers_path

  .bottom{:style => "width: 900px; height: 200px; border-top: 1px dashed #bbbbbb; float: left; margin-top: 5px;"}

    .panel{:style => "width: 224px; height: 100%; float: left; border-right: 1px dashed #bbbbbb;"}
      .info{:style => "width: 204px; margin: 10px;"}
        = render :partial => "base/site_index/info_panels/featured_donor", :locals => {:donors => @featured_donors}

    .panel{:style => "width: 194px; height: 100%; float: left; border-right: 1px dashed #bbbbbb;"}
      .info{:style => "width: 174px; margin: 10px;"}
        = render :partial => "base/site_index/info_panels/news"

    .panel{:style => "width: 234px; height: 100%; float: left; border-right: 1px dashed #bbbbbb;"}
      .info{:style => "width: 214px; margin: 10px;"}
        = render :partial => "base/site_index/info_panels/policy_advocacy"

    .panel{:style => "width: 234px; height: 100%; float: left;"}
      .info{:style => "width: 214px; margin: 10px;"}
        = render :partial => "base/site_index/info_panels/partners", :locals => {:partner_list => @partner_list}
