-# Home page only: Google Webmaster verification string and robots.txt pointer
- @meta = {                                                     |
  :robots     => AppConfig.robots_meta_list_content,            |
  "verify-v1" => "qUbzpZfuULUTf2nSxp3he3j3jq8yYp1MhbbCFG+i524=" |
  }                                                             |
- @page_title = :savetogether_motto.l

  
.content
  = image_tag "#{image_path('image.jpg')}", :usemap => "#banner_map"
  %map{:name => "banner_map"}
    %area{:shape => "rect", :coords =>"683,85,824,127", :href => "#{savers_path}"}
    %area{:shape => "rect", :coords =>"0,0,900,221", :href => "#{how_it_works_path}"}

  .featured-savers
    .heading
      %h1
        =:featured_savers.l.titleize
    .link
      = link_to "(See All Savers &raquo;)", savers_path
    
  = render(:partial => "savers/mini_saver", :collection => @savers)