- @meta = { :description => AppConfig.meta_description, :keywords => AppConfig.meta_keywords, :robots => AppConfig.robots_meta_list_content }
- # This is for identifying current tab selection in navbar
- @section = 'home'

.content
  = image_tag "#{image_path('image.jpg')}", :usemap => "#banner_map"
  %map{:name => "banner_map"}
    %area{:shape => "rect", :coords =>"683,85,824,127", :href => "#{savers_path}"}
    %area{:shape => "rect", :coords =>"0,0,900,221", :href => "#{how_it_works_path}"}

  %h2
    = image_tag('featured-savers.gif', {:alt => 'Featured Savers'})

  = render(:partial => "savers/saver", :collection => @savers)