- @meta = { :description => AppConfig.meta_description, :keywords => AppConfig.meta_keywords, :robots => AppConfig.robots_meta_list_content }
- # This is for identifying current tab selection in navbar
- @section = 'home'

.st-block.box
  / Concept Row
  .yui-g
    .yui-u.first
      %h3
        What We Are
      %p
        SaveTogether is a non-profit organization helping working families build assets and achieve financial security by leveraging the support of an interactive, internet-based community of donors, savers, and partner organizations. Individual savers commit to a savings and financial training plan to prepare for a goal, say post-secondary education, starting a business, or improving a home. SaveTogether's donors provide matching contributions to boost the available savings, incentivizing savers and helping accelerate the results. Ongoing communication between savers and donors sustains all of the groups in their commitments to building individual and community strength.
    .yui-u
      %table.concepts
        %tbody
          %tr
            %td.image{:colspan => "2"}
              = image_tag("pig.png")
            %td.image{:colspan => "2"}
              = image_tag("pig.png")
              = image_tag("pig.png")
            %td.image
              = image_tag("go-next.png")
            %td.image{:colspan => "2"}
              = image_tag("graduate.png")
          %tr
            %td.step
              1
            %td
              Participants set savings go and begin to save
            %td.step
              2
            %td
              You match their savings goal
            %td
              / Empty
            %td.step
              3
            %td
              Participants invest their matched savings
  / Featured Saver
  .yui-g
    %h3
      Featured Saver
      = link_to("(All Savers)", :controller=>'users', :action=>'index')
  .yui-g
    = render :partial => "users/user", :collection => @fsaver
