-@page_title= :take_action.l.titleize

.content
  %h1= :take_action.l.titleize
  .block.no-border
    .do-more
      .two-column-layout.wide
        .tcl-column.left
          %h2
            Match Millions
          .block.no-border
            .indent
              %p
                Each year Federal and state governments provide $500 billion in tax incentives for higher education, home ownership, business and retirement savings.  The lion’s share of these tax incentives flow to the top 20% of tax payers, while less that 3% reaches the bottom 3/5 of American families.  Yet we know from 20 years of rigorously evaluated demonstrations that given the opportunity, low-inome and even very poor families will save, learn, work and invest and ultimately, go to college, start businesses, buy homes, save for retirement and craft economic futures for their families and their country.

              %p
                Four legislative proposals with bipartisan support are being considered in Congress, each of which would extend matched savings opportunities to millions of working American Families:

              %h4
                = link_to "Savings for Working Families Act", 'http://www.cfed.org/go/swfa', :popup => true
              %p
                The Savings for Working Families Act would create a $500 annual Individual Development Account tax credit to match the savings of 2.7 million working families striving for homes, educations and businesses.

              %h4
                = link_to "The ASPIRE Act", 'http://www.cfed.org/imageManager/_documents/policy/Childrens_Savings_Accounts_Final.pdf', :popup => true
              %p
                Which would create an account at birth for each of the 4 million children born each year, with a $500 deposit for every child, and an additional $500 for the poorest third of kids.  What difference would it make if every child grew up knowing she or he had a nest egg for college, business or a home?

              %h4
                = link_to "Expanding the Savers Credit", 'http://www.cfed.org/imageManager/_documents/policy/Savers%20Credit%20Expansion%20One%20Pager%207_16_09.pdf', :popup => true
              %p
                As the Obama Administration has proposed, would create a $500 match for 60 million families who do not currently benefit from our $500 billion dollars in annual incentives to families to save for retirement, homes, and educations.

              %h4
                = link_to "Entrepreneurship Tax Credit", 'http://www.cfed.org/imageManager/_documents/policy/Make_Work_Pay.pdf', :popup => true
              %p
                This could speed millions of low-income and poor entrepreneurs into the mainstream economy by lifting the punitive tax burden on these new self employed who currently must pay double what wage earners do.


        .tcl-column.right
          %h2
            Add My Voice
          .block.no-border
            .indent
              %h3
                = "Let your congressional representative know you support these proposals by adding your contact information below."
              .indent.text12
                %div{:style => "display: block;"}

                %table{:width => "100%", :cellspacing => "0", :cellpadding => "5", :border => "0", :style => "margin-top: 15px;"}
                  %form{:name => "arcos", :method => "post", :action => "http://savetogether.cfed.org/signup", :target => "openwindow"}
                    %input{:type => "hidden", :name => "rm", :value => "process"}
                    %tr
                      %td{:width => "13%"}
                        %label{"for"=>"first_name"}= :first_name.l
                      %td{:align => 'left'}
                        %input{ :name => 'first_name', :id => 'first_name'}
                    %tr
                      %td{:width => "13%"}
                        %label{"for"=>"last_name"}= :last_name.l
                      %td{:align => 'left'}
                        %input{ :name => 'last_name', :id => 'last_name'}
                    %tr
                      %td{:width => "13%"}
                        %label{"for"=>"email"}
                          = "#{:email_address.l} (#{:required.l})"
                      %td{:align => 'left'}
                        %input{ :name => 'email', :id => 'email'}
                    %tr
                      %td
                        %label{"for"=>"postalcode"}= "#{:zippostal_code.l} (#{:required.l})"
                      %td{:align => 'left'}
                        %input{ :name => 'zip', :id => 'zip'}
                    %tr
                      %td{:colspan => 2}
                        %em
                          %b
                            = "Note:"
                          = "You will be adding your name to a list that is maintained by CFED. To change your contact preferences or learn more contact "
                          %a{:href => "http://savetogether.cfed.org/signup/"}= "CFED"
                    %tr
                      %td
                      %td
                        = image_submit_tag "#{image_path('buttons/signup-small.gif')}", :value => "Go", :alt => :signup.l
          .block.no-border
            %h2
              Did You Know?
            .take-action-quote#quoteFadeOn
              .indent
                %em
                  = 'Federal and State governments spend more than half a trillion dollars each year on incentives for Americans to save for education, homes, businesses and retirement.'
            .take-action-quote{:style => "display: none;"}
              .indent
                %em
                  = 'Forty five percent of these incentives accrue to the benefit of the richest 45% of Americans, those making more than $1.25 million a year.'
            .take-action-quote{:style => "display: none;"}
              .indent
                %em
                  = 'Only 3% of the half trillion annual expenditure on savings incentives reaches the bottom 60% of American households who make less than $60,000 per year.'
            .take-action-quote{:style => "display: none;"}
              .indent
                %em
                  = 'The richest 1% of Americans receive an average saving and asset-building tax incentive of $169,000 while the poorest 20% receive $3.'
            .take-action-quote{:style => "display: none;"}
              .indent
                %em
                  = 'The richest Americans receive the equivalent of a Mercedes a year in savings incentives, while the poorest 20% get a cup of coffee.'
            .take-action-quote{:style => "display: none;"}
              .indent
                %em
                  = 'The annual Federal incentive for savings for education, home, business and retirement averages out to more than $1500 for every man, woman and child in America, but 80% of Americans get a fraction of this.'
            .take-action-quote{:style => "display: none;"}
              .indent
                %em
                  = 'For the last several years, the rate of new retirement savings actually was less than the government provided in retirement saving incentives.'
    