%div{:style => "float: left;"}
  = image_tag "#{image_path('icons/two.gif')}"
%h2.numbered
  Spread the word about SaveTogether
.indent
  .indent
    %h3
      -if session[:thank_you_for_sending_invitations]
        %strong
          Thank you!
        Feel free to send more invitations at any time.
      -else
        Make this opportunity available to others - invite Your Friends to Visit Us!
  %div{:class => "indent", :style => "margin-top: 15px;"}
    - if (current_user)
      - form_tag :action => :invite do
        %p
          ="Go ahead and use the suggested text below or feel free to create your own message:"
        %textarea{:name => "title", :cols => "90", :rows => "1"}
          = "Match $25 to change lives through SaveTogether"
        %textarea{:name => "message", :cols => "90", :rows => "6", :style => "margin-top: 10px;"}
          = "Hi! I wanted to let you know about a great new website called SaveTogether (http://www.savetogether.org).  It allows each of us to participate in helping working Americans achieve their dreams by matching their savings goals so they can make life-changing investments in a college education, small business, or a first home.   Check it out and donate to join someone on the path to financial opportunity.   It’s fun – I did it!"
        - if @errors
          .errorExplanation#errorExplanation
            %h2
              There were some errors with your invitation
            %p{:style => "margin-top: 5px;"}
              Please correct the following errors so that we can send your invitation:
              %ul
                - @errors.each do |error|
                  %li
                    =error
        %p{:style => "margin-top: 10px;"}
          ="Enter up to 10 email addresses separated by spaces, commas or semi-colons:"
        %textarea{:name => "emails", :cols => "90", :rows => "1"}
          =params[:emails]
        %p{:style => "margin-top: 10px;"}
        = image_submit_tag "#{image_path('buttons/invite-small.gif')}", :alt => :invite.l
    - else
      %p
        = link_to "Login", login_path
        = "to send out a personal invitation to your friends."
