%div{:style => "float: left;"}
  = image_tag "#{image_path('icons/one.gif')}"
%h2.numbered
  Spread the Word About SaveTogether
.indent
  .indent
    %h3
      -if session[:thank_you_for_sending_invitations]
        %strong
          Thank you!
        Feel free to send more invitations at any time.
      -else
        Invite Your Friends to Visit Us and Build Your
        %a{:href => "/faq#pyramid", :title => "Go to FAQ to find about the Network feature", :target => "_blank"}
          = :pyramid_of_good.l
        !
  %div{:class => "indent", :style => "margin-top: 15px;"}
    - if (current_user)
      - form_tag :action => :invite do
        - if @errors
          .errorExplanation#errorExplanation
            %h2
              There were some errors with your invitation
            %p{:style => "margin-top: 5px;"}
              Please correct the following errors so that we can send your invitation:
              %ul
                - @errors.each do |error|
                  %li
                    &=error
        %p{:style => "margin-top: 10px;"}
          ="Enter up to 10 email addresses separated by commas or semi-colons or on separate lines:"

        -# Put emails inline with textarea tag or otherwise introduce whitespace inside the control
        %textarea{:name => "emails", :cols => "90", :rows => "1"}= params[:emails]

        %p{:style => "margin: 15px 0px 15px 0px;"}
          ="Go ahead and use the suggested text below or feel free to create your own message:"
        %div{:style => "clear: both; margin-top: 10px;"}
          %label{"for"=>"title"}
            %p="#{:title.l}:"

        -# Put title inline with textarea tag or otherwise introduce whitespace inside the control
        %textarea{:name => "title", :cols => "90", :rows => "1"}= (params[:title] ||= "Donate just $1 to change lives through SaveTogether")

        %div{:style => "clear: both; margin-top: 10px;"}
          %label{"for"=>"message"}
            %p="#{:message.l}:"

        -# Put message inline with textarea tag or otherwise introduce whitespace inside the control
        %textarea{:name => "message", :cols => "90", :rows => "6"}= (params[:message] ||= "Hi! I wanted to let you know about a great new website called SaveTogether (http://www.savetogether.org). It allows each of us to participate in helping working Americans achieve their dreams by matching their savings goals so they can make life-changing investments in a college education, small business, or a first home. Check it out and donate to join someone on the path to financial opportunity. It’s fun – I did it!")

        %p{:style => "margin-top: 10px;"}
        = image_submit_tag "#{image_path('buttons/invite-small.gif')}", :alt => :invite.l
        = check_box_tag :show_pyramid, true, current_user.show_pyramid?
        Show        
        %a{:href => "/faq#pyramid", :title => "Go to FAQ to find about the Network feature", :target => "_blank"}
          = :pyramid_of_good.l
        ?
    - else
      %p
        = link_to "Login", login_path
        = "to send out a personal invitation to your friends."
