%div{:style => "float: left;"}
  = image_tag "#{image_path('icons/three.gif')}"
%h2.numbered
  Use Your Voice
.indent
  .indent.text12
    %div{:style => "display: block;"}
      %h3
        = "Make this opportunity available to millions. Click "
        = link_to 'here', take_action_path
        = " to support policies that expand this opportunity to millions more."
