%div{:style => "float: left;"}
  = image_tag "#{image_path('icons/one.gif')}"
%h2.numbered
  Use Your Voice
.indent
  .indent.text12
    %div{:style => "display: block;"}

    - form = params[:completed_survey] ? "completed_form" : "new_form"
    = render :partial => "donor_surveys/survey_form/#{form}"

    = render :partial => "donor_surveys/survey_form/cfed_links"
