-@page_title= :do_more.l.titleize

.content

  -if flash[:thank_you_for_pledge]
    - sep_do_more = true
    %h1="#{:thank_you_for_your_donation.l}!"

  - if current_user && (!current_user.description || !current_user.avatar)
    - sep_do_more = true
    .single-column
      .block.no-border
        %div{:style => "float: left;"}
          = image_tag "#{image_path('icons/asterix.gif')}"
        %h2.numbered
          Create or Update your Profile
        .indent
          .indent
            %h3
              And help improve the SaveTogether community today!
            %p
              Click
              = link_to "here", edit_donor_path(current_user)
              to upload a photo and tell us why you supported a Saver.

  - if sep_do_more
    %div{:class => "block", :style => "margin-top: 25px"}

  -# Do More Section
  %h1
    = :do_more.l.titleize

  .single-column

    .block.no-border
      %div{:style => "float: left;"}
        = image_tag "#{image_path('icons/one.gif')}"
      %h2.numbered
        Use Your Voice
      .indent
        .indent.text12
          %div{:style => "display: block;"}
            %h3
              Tell policymakers that I support making opportunities like this one available to others!
            
            %table{:width => "100%", :cellspacing => "0", :cellpadding => "5", :border => "0", :style => "margin-top: 15px;"}
              - form_for @donor_survey, :url => {:controller => :donor_surveys, :action => :create, :id => @donor_survey.id} do |f|
                = error_messages_for :donor_survey
                = f.hidden_field :donor_id
                %tr
                  %td{:width => "12%"}
                    %label{"for"=>"firstname"}= :first_name.l
                  %td{:align => 'left'}
                    - if current_user
                      = f.text_field :first_name, {:value => current_user.first_name}
                    - else
                      = f.text_field :first_name
                  %td
                %tr
                  %td
                    %label{"for"=>"lastname"}= :last_name.l
                  %td{:align => 'left'}
                    - if current_user
                      = f.text_field :last_name, {:value => current_user.last_name}
                    - else
                      = f.text_field :last_name
                  %td
                %tr
                  %td
                    %label{"for"=>"postalcode"}= :zippostal_code.l
                  %td{:align => 'left'}
                    = f.text_field :zip_code, :size => 10
                  %td
                %tr
                  %td
                  %td
                    = image_submit_tag "#{image_path('buttons/signup-small.gif')}", :alt => :signup.l
    
          -# succeed "string" do {proc} is the haml helper to take care of these situations where
          -# a following string, usually punctuation, would otherwise be separated from preceding
          -# text by a space. precede is the analog for similar conditions at the beginning of a string.
          -# See http://haml-lang.com/docs/yardoc/Haml/Helpers.html for more info.
      
          %div{:style => "margin-top: 10px;"}
            %p
              = "Learn more about"
              = succeed "," do
                %a{:href=>"http://www.cfed.org/savetogether/"}= "how my name will be used"
              = succeed ", and" do
                %a{:href=>"http://www.cfed.org/savetogether/"}= "current policy efforts"
              %a{:href=>"http://www.cfed.org/savetogether/"}= "what else I can do"
              = " to make this opportunity available to others."
  
      %div{:class => "block", :style => "margin-top: 25px"}
        = render :partial => 'users/invite'
      
      %div{:class => "block", :style => "margin-top: 25px"}
        = render :partial => 'users/web20'
       