.content.single-column
  - if flash[:thank_you_for_pledge]
    %p
      = image_tag "#{image_path('titles/thankyou.gif')}"
  - else
    %p
      = image_tag "#{image_path('titles/domore.gif')}"
  %table{:width =>"96%", :cellspacing => "10", :callpadding => "0", :border => "0", :align => "center"}
    %tr
      %td{:valign => "top", :align =>"left"}
        %div{:style => "float: left; width: 100%"}
          - if current_user && (!current_user.description || !current_user.avatar)
            %br
            %span.text12GreenBold
              = link_to "(Click here to create / update your profile)", edit_donor_path(current_user)

    %tr
      %td{:valign => "top", :align =>"left"}
        %span.text12GreenTitle
          Use Your Voice
        %span.text12
          %br/
          - form_for @donor_survey, :url => {:controller => :donor_surveys, :action => :create, :id => @donor_survey.id} do |f|
            = error_messages_for :donor_survey
            = f.hidden_field :donor_id
            = "Tell policymakers that I support making opportunities like this one available to others!"
            %br
            %table{:width => "100%", :cellspacing => "0", :cellpadding => "5", :border => "0", :align => "left"}
              %tr
                %td{:align => 'right', :width => "15%"}
                  %span.text12GreenBold= :first_name.l
                %td{:align => 'left'}
                  - if current_user
                    = f.text_field :first_name, {:value => current_user.first_name}
                  - else
                    = f.text_field :first_name
                %td
              %tr
                %td{:align => 'right', :width => "15%"}
                  %span.text12GreenBold= :last_name.l
                %td{:align => 'left'}
                  - if current_user
                    = f.text_field :last_name, {:value => current_user.last_name}
                  - else
                    = f.text_field :last_name
                %td
              %tr
                %td{:align => 'right', :width => "15%"}
                  %span.text12GreenBold= :zippostal_code.l
                %td{:align => 'left'}
                  = f.text_field :zip_code, :size => 10
                %td
              %tr
                %td{:align => 'right', :width => "15%"}
                  = f.submit :submit
                %td{:colspan => 2}
          
        -# succeed "string" do {proc} is the haml helper to take care of these situations where
        -# a following string, usually punctuation, would otherwise be separated from preceding
        -# text by a space. precede is the analog for similar conditions at the beginning of a string.
        -# See http://haml-lang.com/docs/yardoc/Haml/Helpers.html for more info.
        
    %tr
      %td{:valign => "top", :align =>"left"}
        %p
          %span.text12
            = "Learn more about"
            = succeed "," do
              %a{:href=>"http://www.cfed.org/savetogether/"}= "how my name will be used"
            = succeed ", and" do
              %a{:href=>"http://www.cfed.org/savetogether/"}= "current policy efforts"
            %a{:href=>"http://www.cfed.org/savetogether/"}= "what else I can do"
            = " to make this opportunity available to others."
        
        %p
        = render :partial => 'users/invite'
        %p
        = render :partial => 'users/web20'
       