.content.single-column
  - if flash[:thank_you_for_pledge]
    %p
      = image_tag "#{image_path('titles/thankyou.gif')}"
  - else
    %p
      = image_tag "#{image_path('titles/domore.gif')}"
  %table{:width =>"96%", :cellspacing => "0", :callpadding => "0", :border => "0", :align => "center"}
    %tr
      %td{:valign => "top", :align =>"left"}
        %span.text12GreenTitle
          Use Your Voice
        %span.text12
          %br/
          - form_for @donor_survey, :url => {:controller => :donor_surveys, :action => :create, :id => @donor_survey.id} do |f|
            = error_messages_for :donor_survey
            = f.hidden_field :donor_id
            = "Tell policymakers that I support making opportunities like this one available to others!"
            %br
            %table{:width => "100%", :cellspacing => "0", :cellpadding => "5", :border => "0", :align => "left"}
              %tr
                %td{:align => 'right', :width => "15%"}
                  %span.text12GreenBold= :first_name.l
                %td{:align => 'left'}
                  - if current_user
                    = f.text_field :first_name, {:value => current_user.first_name}
                  - else
                    = f.text_field :first_name
                %td
              %tr
                %td{:align => 'right', :width => "15%"}
                  %span.text12GreenBold= :last_name.l
                %td{:align => 'left'}
                  - if current_user
                    = f.text_field :last_name, {:value => current_user.last_name}
                  - else
                    = f.text_field :last_name
                %td
              %tr
                %td{:align => 'right', :width => "15%"}
                  %span.text12GreenBold= :zippostal_code.l
                %td{:align => 'left'}
                  = f.text_field :zip_code, :size => 10
                %td
              %tr
                %td{:align => 'right', :width => "15%"}
                  = f.submit :submit
                %td{:colspan => 2}
          %br
          = "Learn more about "
          %a{:href=>"http://www.cfed.org/act.m?edit=0&parentid=&siteid=5&id=2821"}= "how my name will be used"
          = ", "
          %a{:href=>"http://www.cfed.org/act.m?edit=0&parentid=&siteid=5&id=2821"}= "current policy efforts"
          = ", and "
          %a{:href=>"http://www.cfed.org/act.m?edit=0&parentid=&siteid=5&id=2821"}= "what else I can do"
          = " to make this opportunity available to others."
          %br

        %p
        = render :partial => 'users/invite'
        %p
        = render :partial => 'users/web20'
        - if current_user && (!current_user.description || !current_user.avatar)
          %p
          = link_to "Click here to create / update your profile", edit_donor_path(current_user)