%tr
  - bene_path = party.eql?(Organization.find_savetogether_org) ? organization_path(party) : saver_path(party)
  %td{:valign => "middle", :align => "left"}
    = link_to((image_tag party.avatar_photo_url(:thumb), :alt => party.display_name), bene_path)
  %td{:class => "text12", :valign => "middle", :align => "left"}
    %span.text12GreenBold
      - if party.class == Organization
        = link_to(party.display_name, organization_path(party))
      - else
        = link_to(party.display_name, saver_path(party))
  %td{:class => "text12", :valign => "middle", :align => "left"}
    - unless party.organization == nil
      = party.organization.display_name
    - else
      = party.display_name
  %td{:class => "text12", :valign => "middle", :align => "left"}
    - unless party == Organization.find_savetogether_org
      = party.asset_type
  - if show_totals
    %td{:class => "text12", :valign => "middle", :align => "center"}
      = number_donations
    %td{:class => "text12", :valign => "middle", :align => "center"}
      = Money.new(donations_total).format(:html)

-# Spacer Row
%tr{:valign => "top", :align => "left"}
  %td{:height => "2", :valign => "middle", :background => "#{image_path('bg/dotted_line.gif')}", :style => "background-repeat: repeat-x;", :colspan => "6"}
    %span{:style => "background-repeat: repeat-x;"}
      %img{:height => "2", :width => "2", :src => "#{image_path('icons/spacer.gif')}"}
