="Hi #{@user.first_name},"
=""
="Thank you for your donation of #{@amount.format(:html)}! This donation helps SaveTogether fulfill its mission to inspire and sustain a community dedicated to matching the savings goals of working families."
=""
="To continue to follow any of your Savers' progress, please go to My Profile (#{@url}#{donor_path(@user)}). All Savers you are supporting are listed at the bottom of the page."
=""
="If you'd like to update your account at any time, please go to My Profile (#{@url}#{donor_path(@user)})."
=""
="This email also confirms that SaveTogether is a 501(c)(3) non-profit organization in good standing with the Internal Revenue Service, and that no goods or services were provided in exchange for your contribution.* Our federal tax identification number is 26-3455579."
=""
="Thanks again for standing behind your selected saver and helping transform a life."
=""
="Sincerely,"
="The SaveTogether Team"
=""
="Donation Summary:"
=""
="#{@user.first_name} #{@user.last_name}"
=""
="Date: #{l @date, :format => :just_date}"
=""
="Donation Amount: #{@amount.format(:html)}"
=""
="*This email serves as your acknowledgment letter for IRS purposes."