="Hi #{@user.first_name},"
=""
="Thank you for your donation! To continue to follow your Saver's progress, please go to My Profile (#{@url}#{donor_path(@user)}). All Savers you have donated to are listed at the bottom of the page."
=""
="If you'd like to update your account at any time, please go to My Profile (#{@url}#{donor_path(@user)})."
=""
="Thanks again for standing behind your selected saver and helping transform a life."
=""
="Thanks again,"
="The SaveTogether Team"