="SaveTogether member #{@user.first_name} #{@user.last_name} (#{@url}#{donor_path(@user)}) has forwarded you this invitation:"
=""
="-------------------"
=@message
="-------------------"
=""
="To learn more about SaveTogether, please go to #{link_to @url, "#{@url}/signup?referral_email=#{@user.email}"}."
=""
="Thanks,"
="The SaveTogether Team"