="SaveTogether member #{@user.first_name} #{@user.last_name} (#{@url}#{donor_path(@user)}) has forwarded you this invitation:"
=""
="-------------------"
=@message
="-------------------"
=""
="To learn more about SaveTogether, please go to #{@url}."
=""
="Thanks,"
="The SaveTogether Team"