="SaveTogether member #{@user.first_name} #{@user.last_name} (#{@url}#{donor_path(@user)}) has given you a gift card!"
=""
="-------------------"
=@gift.from_gift_card.message
="-------------------"
=""
="To learn more about SaveTogether, please go to #{@url}."
=""
="Thanks,"
="The SaveTogether Team"