="Hi #{@user.first_name},"
=""
="At your request we've reset your SaveTogether password. Your new password is:"
=""
="    #{@user.password}"
=""
="Please go to the Sign In page (#{@url}#{login_path}) and sign in with your new password. Afterwards you may wish to reset your password to one of your own choosing at the My Profile page (#{@url}#{donor_path(@user)})."
=""
="If you have any questions, please contact SaveTogether support at #{ENV['SUPPORT_EMAIL']}."
=""
="Thanks,"
="The SaveTogether Team"
