="Hi #{@user.first_name},"
=""
="Thanks for joining SaveTogether! This email confirms that we've created your account."
=""
="To find a Saver to support today, please go to the Match page (#{@url}#{savers_path})."
=""
="If you'd like to update your account at any time, please go to My Profile (#{@url}#{donor_path(@user)})."
=""
="Thanks again,"
="The SaveTogether Team"