%tr
  %td{:valign => "middle", :align => "center"}
    = link_to((image_tag saver.avatar_photo_url(:thumb), :alt => saver.display_name), saver_path(saver))
    %span.text12GreenBold
      = link_to saver.display_name.capitalize, saver_path(saver)
  %td{:class => "text12", :valign => "middle", :align => "left"}
    = saver.asset_type
  %td{:class => "text12", :valign => "middle", :align => "left"}
    =saver.metro_area.name
    %br/
    =link_to saver.organization.display_name, organization_path(saver.organization)
  %td{:class => "text12", :valign => "middle", :align => "left"}
    =truncate_words(saver.description, 25, " &hellip;")
  %td{:class => "text12", :valign => "middle", :align => "left"}
    %table{:width => "100%", :cellpadding => "0", :cellspacing => "0", :border => "0"}
      =render :partial => "savers/shared/property", :locals => {:name => "#{:match_request.l}:", :value => saver.requested_match_amount.format(:no_cents)}
      =render :partial => "savers/shared/property", :locals => {:name => "#{:match_committed.l}:", :value => "#{saver.matched_amount.format(:no_cents)} (#{(saver.match_percent*100).round}%)"}
      =render :partial => "savers/shared/progress_bar", :locals => {:saver => saver, :style => "progress-bar"}
      =render :partial => "savers/shared/ask_control", :locals => {:saver => saver}

-# Spacer Row
%tr{:valign => "top", :align => "left"}
  %td{:height => "2", :valign => "middle", :background => "#{image_path('bg/dotted_line.gif')}", :style => "background-repeat: repeat-x;", :colspan => "6"}
    %span{:style => "background-repeat: repeat-x;"}
      %img{:height => "2", :width => "2", :src => "#{image_path('icons/spacer.gif')}"}
