- if current_user && current_user.admin?
  .box.first_alt.alt
    %h3
      =:admin_controls.l
    = link_to( "&raquo; #{:assume_user_id.l}", assume_user_path(@user) )
    %br/
    = link_to( "&raquo; #{:delete_this_user.l}", user_path(@user), {:method => :delete, :confirm => :are_you_sure_you_want_to_permanently_delete_this_user.l} )

#profile_details.box.hentry
  %h3
    = @user.login
    = " <small>(#{AppConfig.featured_writer_label})</small>" if @user.featured_writer?

  .centered
    - if @user.avatar
      = @user.vendor ? "<div class='right_corner'><div class='community_pro'></div></div>" : ''
      = @user.featured_writer ? "<div class='right_corner'><div class='featured_writer'></div></div>" : ''
      = image_tag( @user.avatar_photo_url(:medium), :class => 'polaroid')
    - elsif @is_current_user
      = image_tag( @user.avatar_photo_url(:medium), :class => "polaroid")
      %br
      =:no_profile_photo.l
      = link_to :click_here_to_upload_one.l, edit_user_path(@user)
    - else
      = image_tag( @user.avatar_photo_url(:medium), :class => "polaroid" )

  .clear