.row{"class"=>"#{user.vendor ? 'community_pro' : ''} #{user.featured_writer ? 'featured_writer' : ''}"}
  .yui-g
    .yui-g.first
      .yui-u.first
        = link_to image_tag( user.avatar_photo_url(:thumb), :class => "polaroid" ), user_path(user)

      .yui-u
        = link_to( :donate.l, :controller => 'donations', :action => 'new', :saver_id => user.id )

    .yui-u
      %h3= user.login
      - if @search && @search['description']
        = truncate_words_with_highlight user.description, @search['description']
      - else
        = truncate_words user.description, 18, '...'

      - if current_user && current_user.admin?
        %br
        = link_to( :assume_id.l, assume_user_path(user) )

      = "<p>" + user.tags[0...6].collect{|t| link_to( t.name, tag_url(t), :class => "tag") if t }.join(" ") + "</p>" unless user.tags.empty?

