%table.savers
  %tr
    %td.photo
      = link_to image_tag( user.avatar_photo_url(:thumb), :class => "polaroid" ), user_path(user)
    %td.adc
      = render :partial => "users/adc", :object => user, :locals => { :saver => user }
    %td
      %font{:size=>"+1"}= user.login.capitalize
      %br
      - if @search && @search['description']
        = truncate_words_with_highlight user.description, @search['description']
      - else
        = truncate_words user.description, 50, '...'

      - if current_user && current_user.admin?
        %br
        = link_to( :assume_id.l, assume_user_path(user) )

    = "<p>" + user.tags[0...6].collect{|t| link_to( t.name, tag_url(t), :class => "tag") if t }.join(" ") + "</p>" unless user.tags.empty?

