- @meta = { :description => "#{@user.login}'s profile on #{AppConfig.community_name}.", :keywords => "#{@user.login}, #{@user.tags.join(", ") unless @user.tags.nil?}", :robots => AppConfig.robots_meta_show_content }
- @section = @user.eql?(current_user) ? 'my_profile' : 'users'
- @sidebar_left = true

.st-block
  .yui-g
    .yui-u.first
      .box
        = render :partial => 'profile_user_info_sidebar', :locals => {:user => @user}

    .yui-u
      - if @user.description
        #about_me.box
          %h3
            =:about_me.l
          - if @user.asset_type
            = render :partial => "users/adc", :object => @user, :locals => { :saver => @user }
            %p
              = @user.description

  - unless @savers.empty?
    .yui-g
    .box.user_list
      %h3= "Savers you have donated to"
      = render :partial => "users/user", :collection => @savers
