- @meta = { :description => "#{@user.login}'s profile on #{AppConfig.community_name}.", :keywords => "#{@user.login}, #{@user.tags.join(", ") unless @user.tags.nil?}", :robots => AppConfig.robots_meta_show_content }
- @section = @user.eql?(current_user) ? 'my_profile' : 'users'
- @sidebar_left = true

.yui-g
  .yui-u.first
    .box
      = render :partial => 'profile_user_info_sidebar', :locals => {:user => @user}

  .yui-u
    - if @user.description
      #about_me.box
        %h3
          =:about_me.l
        - if @adc
          Goal:
          = @adc.asset_type.asset_name
          Total:
          = @adc.requested_match_total.format(:no_cents, :html)
          %br
          %span{:style=>"color:red"} Need:
          %span{:style=>"color:red"}= "#{@adc.match_left.format(:no_cents, :html)}"
          %br
          = link_to( :donate.l, :controller => 'donations', :action => 'new', :saver_id => @user.id )
          %br
          = custom_progress_bar('progress', @adc.match_percent, :show_text=>true, :bar_images=>['progress_bar/percentImage_back1.png','progress_bar/percentImage_back2.png','progress_bar/percentImage_back3.png','progress_bar/percentImage_back4.png'], :width=>120,:height=>10)
          %p= @user.description
    - unless @users_comments.empty?
      #photo_comments.yui-g.box.alt
        %h3=:my_recent_comments.l
        - @users_comments.each do |comment|
          %dl.vcard
            %dt.photo
              = link_to image_tag(comment.recipient.avatar_photo_url(:thumb), :alt => "#{comment.recipient.login}", :width => '50', :height => '50'), commentable_url(comment)
            %dd.fn
              - if comment.recipient.eql?(comment.commentable)
                %strong= :to.l + ": #{link_to comment.recipient.login, commentable_url(comment)}"
              - else
                %strong= :to.l + ": #{link_to comment.recipient.login, user_path(comment.recipient)}"
                %br
                %strong= :on_commentable.l + ": #{link_to comment.commentable_name, commentable_url(comment)} (#{comment.commentable_type})"
            %dd
              %p= "\"#{truncate_words( comment.comment, 10, '...')}\""

    - unless @photo_comments.empty?
      #photo_comments.yui-g.box.alt
        %h3=:photo_comments.l
        - @photo_comments.each do |comment|
          %dl.vcard
            %dt.photo
              = link_to(image_tag(comment.commentable.public_filename(:thumb), :width => '50', :height => '50'), user_photo_path(@user, comment.commentable))
            %dd.fn= "#{comment.username}" + " " + :says.l + ":"
            %dd
              = truncate_words(comment.comment, 10)
              %br
              = link_to "&raquo; " + :view_comment.l, user_photo_path(@user, comment.commentable) + "#comment_#{comment.id}"


- unless @users.empty?
  .yui-g
  .box.user_list
    %h3= "Savers you have donated to"
    = render :partial => "users/user", :collection => @users