- @section = @user.eql?(current_user) ? 'my_profile' : 'users'

.yui-b
  .box.alt.first_alt
    %h3
      =:get_started_tell_us_about_yourself.l
    = render :partial => 'shared/bio_help'
    %p
      =:remember_you_can_always_change_this_later.l
    %p
      = link_to "&raquo; "+  :skip_this_step.l, welcome_invite_user_path(@user)
      %br
      = link_to "&raquo; " + :go_to_your_profile.l, user_path(@user)

  - if @user.avatar_photo_url
    .box.alt
      %h3=:your_profile_photo.l
      .centered
        = @user.vendor ? "<div class='right_corner'><div class='community_pro'></div></div>" : ''
        = image_tag( @user.avatar_photo_url(:medium), :class => "polaroid", :style=>"width:250px" )
      =link_to :profile_photo_crop.l, crop_profile_photo_user_path(@user)        

#yui-main
  .yui-b.box
    - form_tag user_path(:welcome => 'invite'), :method => 'put', :multipart =>true, :class => "MainForm" do
      %h3=:about_you.l
      = text_area :user, :description, :rows => 30, :style => 'width:100%', :class => "rich_text_editor"
    
      %h3=:more_about_you.l
      .yui-g
        .yui-u.first
          .box.alt
            %h3
              =:choose_your_location.l
            %br
            =:postal_code.l
            %br
            = text_field :user, :zip, :size => 10
            %br
            %br
            %label{"for"=>"advocacy_boolean"}
              = check_box :user, :notify_advocacy
              %em= :advocacy_zip_ask.l

        .yui-u
          %p= submit_tag :save_and_continue_to_step_three.l
