- unless logged_in?
  %h2
    =:welcome_message.l(:login_link => (link_to :log_in.l, login_path), :signup_link => (link_to :sign_up.l, signup_path))

#NavBar
  %ul
    - Category.find(:all).each do |c|
      = topnav_tab c.name, {:url => category_path(c), :section => c.name}
    = topnav_tab :savers.l, { :url => users_path, :section => 'users' }
    = topnav_tab :about.l, {:url =>about_path, :section=>'about'}
    = topnav_tab :faq.l, {:url=>faq_path, :section=>'faq'}
    - if current_user 
      = topnav_tab :my_profile.l, { :url => user_path(current_user), :section => 'my_profile'}
  
/ NavBar
