-# This is the code that renders both the header and footer navbars:
/.text-box
/  %p
/    = "Welcome to SaveTogether!"
%ul
  %li
    = link_to :match_a_saver.l.upcase, match_savers_path
    = image_tag 'separator.gif'
  %li
    = link_to :how_it_works.l.upcase, how_it_works_path
    = image_tag 'separator.gif'
  %li
    = link_to :do_more.l.upcase, do_more_path
    = image_tag 'separator.gif'
  %li
    = link_to :community.l.upcase, community_path
    = image_tag 'separator.gif'
  %li
    = link_to :about_us.l.upcase, about_us_path
    = image_tag 'separator.gif'
  %li
    = link_to :press_center.l.upcase, press_center_path
    = image_tag 'separator.gif'
  - if current_user
    %li
      - if current_user.class == Saver
        = link_to :my_profile.l.upcase, saver_path(current_user)
      - elsif current_user.class == Donor
        = link_to :my_profile.l.upcase, donor_path(current_user)
      - else
        = link_to :my_profile.l.upcase, organization_path(current_user)
  -else
    %li
      = link_to :sign_up.l.upcase, signup_path

