-# This is the code that renders both the header and footer navbars:
%ul
  %li
    = link_to :home.l.upcase, home_path
    = image_tag 'separator.gif'
  %li
    = link_to :match.l.upcase, savers_path
    = image_tag 'separator.gif'
  %li
    = link_to :faq.l.upcase, faq_path
    = image_tag 'separator.gif'
  %li
    = link_to :about_us.l.upcase, about_us_path
    = image_tag 'separator.gif'
  %li
    = link_to :terms_of_use.l.upcase, terms_of_use_path
    = image_tag 'separator.gif'
  %li
    = link_to :privacy_policy.l.upcase, privacy_policy_path
    = image_tag 'separator.gif'
  %li
    = link_to :feedback.l.upcase, feedback_path
    = image_tag 'separator.gif'
