-# This is the code that renders both the header and footer navbars:
%ul
  %li
    = link_to :faq.l.upcase, faq_path
    = image_tag 'separator.gif'
  %li
    = link_to :feedback.l.upcase, feedback_path
    = image_tag 'separator.gif'
  %li
    = link_to :blog.l.upcase, "http://blog.savetogether.org"
    = image_tag 'separator.gif'
  %li
    = link_to :terms_of_use.l.upcase, terms_of_use_path
    = image_tag 'separator.gif'
  %li
    = link_to :privacy_policy.l.upcase, privacy_policy_path

%br
  %span{:style => "text-align: center;"}
    = "SaveTogether is a 501(c)3 not-for-profit Corporation.  &copy; Copyright 2009."