%tr
  %td{:valign => "middle", :align => "left"}
    = link_to((image_tag donor.avatar_photo_url(:thumb), :alt => donor.display_name), donor_path(donor))
  %td{:class => "text12", :valign => "middle", :align => "left"}
    %span.text12GreenBold
      = donor.display_name.capitalize
  %td{:class => "text12", :valign => "middle", :align => "left"}
    = truncate_words(donor.description, 50, "...")
  %td{:class => "text12", :valign => "middle", :align => "center"}
    - most_recent_saver = donor.most_recent_donation.to_user
    - if most_recent_saver
      = link_to((image_tag most_recent_saver.avatar_photo_url(:thumb), :alt => most_recent_saver.display_name), saver_path(most_recent_saver))

-# Spacer Row
%tr{:valign => "top", :align => "left"}
  %td{:height => "2", :valign => "middle", :background => "#{image_path('bg/dotted_line.gif')}", :style => "background-repeat: repeat-x;", :colspan => "4"}
    %span{:style => "background-repeat: repeat-x;"}
      %img{:height => "2", :width => "2", :src => "#{image_path('icons/spacer.gif')}"}
