%tr
  %td{:valign => "middle", :align => "left"}
    = link_to((image_tag donor.avatar_photo_url(:thumb), :alt => donor.display_name), donor_path(donor))
  %td{:class => "text12", :valign => "middle", :align => "left"}
    %span.text12GreenBold
      = link_to donor.display_name.capitalize, donor_path(donor)
  %td{:class => "text12", :valign => "middle", :align => "left"}
    = l donor.created_at, :format => :member_since
  %td{:class => "text12", :valign => "middle", :align => "left"}
    = truncate_words(donor.description, 50, "...")
  %td{:class => "text12", :valign => "middle", :align => "center"}
    - most_recent_donation = donor.most_recent_donation
    - if most_recent_donation
      - recipient = most_recent_donation.to_user
      = link_to((image_tag recipient.avatar_photo_url(:thumb), :alt => recipient.display_name), saver_path(recipient))
      %span.text12GreenBold
        = link_to recipient.display_name.capitalize, saver_path(recipient)
  %td{:class => "text12", :valign => "middle", :align => "left"}
    = donor.number_of_pyramid_referrees
  %td{:class => "text12", :valign => "middle", :align => "left"}
    = donor.pyramid_total

-# Spacer Row
%tr{:valign => "top", :align => "left"}
  %td{:height => "2", :valign => "middle", :background => "#{image_path('bg/dotted_line.gif')}", :style => "background-repeat: repeat-x;", :colspan => "5"}
    %span{:style => "background-repeat: repeat-x;"}
      %img{:height => "2", :width => "2", :src => "#{image_path('icons/spacer.gif')}"}
