.st-block
  #profile_details.box.hentry
    .yui-g
      .yui-u.first
        %h3
          = @donation.saver.login
        .centered
          = image_tag( @donation.saver.avatar_photo_url(:medium), :class => 'polaroid')
      .yui-u
        %h3
          Confirm Donation
        %table.donation
          - form_for :donation, @donation, :url => {:action => 'done', :donation_id => @donation.id} do |f|
            = f.error_messages
            %tr
              %td.label
                %label{:for => "notification_email"}
                  Send Progress Notifications to
              %td
                = @donation.notification_email
              - @donation.donation_line_items.each_with_index do |dli, index|
                %tr
                  %td.label
                    %label{:for => "line_item_description"}
                      = dli.description
                  %td
                    = dli.amount.format(:html)
            %tr
              %td.label
                %label{:for => "total"}
                  Total
              %td
                = @donation.amount.format(:html)
            %tr
              %td{:colspan => "2"}
                = f.submit "Continue"
