<table width="100%">
  <% form_for(@donation) do |f| %>
        <%= f.error_messages %>
    <tr>
        <td align="right"><%= @donation.donation_line_items[0].description %>
        </td>
        <td align="left"><%= @donation.donation_line_items[0].amount.format(:html) %>
        </td>
    </tr>
    <tr>
        <td align="right"><%= @donation.donation_line_items[1].description %>
        </td>
        <td align="left"><%= @donation.donation_line_items[1].amount.format(:html) %>
        </td>
    </tr>
    <% end %>
    <tr>
        <td>
        </td>
        <td>
            <% payment_service_for @donation.id, PAYPAL_ACCOUNT,
                              :amount => @donation.amount,
                              :currency => 'USD',
                              :service => :paypal,
                              :html => { :id => 'payment-form' } do |service| %>
                   <% service.invoice @donation.id %>
                   <% service.shipping '0.00' %>
                   <% service.tax '0.00' %>

                   <% service.notify_url url_for(:only_path => false, :action => 'notify') %>
                   <% service.return_url url_for(:only_path => false, :action => 'done') %>
                   <% service.cancel_return_url 'http://www.savetogether.org/' %>
                   <%= submit_tag "Donate" %>
             <% end %>
        </td>
    </tr>
</table>
