%table{:width => "100%", :cellpadding => "2"}
  %tr
    %td
      ="#{:match_request.l}:"
    %td{:align => "right"}
      %span.request-values= saver.requested_match_amount.format(:no_cents)
  %tr
    %td
      ="#{:match_goal.l}:"
    %td{:align => "right"}
      %span.request-values= saver.asset_type
  %tr
    %td
      ="#{:matched_so_far.l}:"
    %td{:align => "right"}
      %span.request-values= saver.matched_amount.format(:no_cents)
  %tr
    %td
      ="#{:match_needed.l}:"
    %td{:align => "right"}
      %span.request-values= saver.match_amount_left.format(:no_cents)
