%table.organization_survey
  %tr
    %td.label
      Year Founded:
    %td
      = organization_survey.year_founded
  %tr
    %td.label
      Annual Operating Expenses:
    %td
      = organization_survey.annual_operating_expenses
  %tr
    %td
      Total Matched Accounts:
    %td
      = organization_survey.total_matched_accounts
  %tr
    %td
      Year First Accounts Opened:
    %td
      = organization_survey.year_first_accounts_opened
  %tr
    %td
      Last Year Number of Accounts:
    %td
      = organization_survey.last_year_number_of_accounts
  %tr
    %td
      Number of Active Accounts:
    %td
      = organization_survey.number_of_active_accounts
  %tr
    %td
      Attrition Rate:
    %td
      = organization_survey.attrition_rate
  %tr
    %td
      Household Income Eligibility:
    %td
      = organization_survey.household_income_eligibility
