%table{:width => "87%", :cellspacing => "0", :cellpadding => "1", :border => "0", :align => "center"}
  %tr
    %td
      %p.large-text
        Year Founded:
    %td{:align => "right"}
      %p.large-text
        %em
          = organization_survey.year_founded
  %tr
    %td
      %p.large-text
        Annual Operating Expenses:
    %td{:align => "right"}
      %p.large-text
        %em
          = organization_survey.annual_operating_expenses
  %tr
    %td
      %p.large-text
        Total Matched Accounts:
    %td{:align => "right"}
      %p.large-text
        %em
          = organization_survey.total_matched_accounts
  %tr
    %td
      %p.large-text
        Year First Accounts Opened:
    %td{:align => "right"}
      %p.large-text
        %em
          = organization_survey.year_first_accounts_opened
  %tr
    %td
      %p.large-text
        Number of Active Accounts:
    %td{:align => "right"}
      %p.large-text
        %em
          = organization_survey.number_of_active_accounts
