%table{:width => "400", :cellspacing => "0", :cellpadding => "5", :border => "0", :align => "center"}
  %tr
    %td.label
      Year Founded:
    %td{:align => "right"}
      %span.request-values= organization_survey.year_founded
  %tr
    %td.label
      Annual Operating Expenses:
    %td{:align => "right"}
      %span.request-values= organization_survey.annual_operating_expenses
  %tr
    %td.label
      Total Matched Accounts:
    %td{:align => "right"}
      %span.request-values= organization_survey.total_matched_accounts
  %tr
    %td.label
      Year First Accounts Opened:
    %td{:align => "right"}
      %span.request-values= organization_survey.year_first_accounts_opened
  %tr
    %td.label
      Number of Active Accounts:
    %td{:align => "right"}
      %span.request-values= organization_survey.number_of_active_accounts
