-@page_title= "#{possessivize(@user.display_name)} #{:profile_settings.l.titleize}"

.content

  %h1
    =:profile_photo.l

  .single-column
    - form_for @user, :method => 'put', :multipart =>true, :class => 'MainForm' do |org_form|

      = error_messages_for :user

      .photo
        .with-img.plus
          = image_tag( @user.avatar_photo_url(:medium), :class => "polaroid" )

        %table{:width => "100%", :cellspacing => "0", :cellpadding => "0", :border => "0"}
          %tr
            %td{:class => "text12", :valign => "bottom", :height => "36"}
              %span.text12GreenTitle
                =:choose_a_photo_for_your_profile.l
          %tr
            %td{:class => "text12", :width => "72%", :height => "36"}
              = file_field :avatar, :uploaded_data, :size => "25"

      .party-info
        .box.wide
          .box-bottom
            %h2
              =:you_are_editing_your_profile.l
            = link_to "&raquo; #{:edit_your_account_settings_instead.l}", edit_account_user_path(@user)

        .relax='&nbsp;'
        .block.no-border
          .indent
            %h3= :why_i_support_savers.l
            = org_form.text_area :description, :class => "rich_text_editor", :style => "width:91%; height:232px; margin: 10px 0 10px 0;"

          %table{:width => "91%", :cellspacing => "0", :cellpadding => "0", :border => "0"}
            %tr
              %td{:align => "right"}
                %p.large-text
                  = "Web Site URL:"
              %td{:align => "right"}
                = org_form.text_field :web_site_url
            %tr
              %td{:align => "right"}
                %p.large-text
                  ="Phone Number:"
              %td{:align => "right"}
                = org_form.text_field :phone_number
            - if @user.organization_survey
              = hidden_field_tag 'organization[organization_survey_attributes][id]', @user.organization_survey.id
              %tr
                %td{:align => "right"}
                  %p.large-text
                    ="Email Contact:"
                %td{:align => "right"}
                  = text_field_tag 'organization[organization_survey_attributes][contact_email]', @user.organization_survey.contact_email, :size => 30
              %tr
                %td{:align => "right"}
                  %p.large-text
                    ="Year Founded:"
                %td{:align => "right"}
                  = text_field_tag 'organization[organization_survey_attributes][year_founded]', @user.organization_survey.year_founded, :size => 30
              %tr
                %td{:align => "right"}
                  %p.large-text
                    ="Annual Operating Expenses:"
                %td{:align => "right"}
                  = text_field_tag 'organization[organization_survey_attributes][annual_operating_expenses]', @user.organization_survey.annual_operating_expenses, :size => 30
              %tr
                %td{:align => "right"}
                  %p.large-text
                    ="Total Matched Accounts:"
                %td{:align => "right"}
                  = text_field_tag 'organization[organization_survey_attributes][total_matched_accounts]', @user.organization_survey.total_matched_accounts, :size => 30
              %tr
                %td{:align => "right"}
                  %p.large-text
                    ="Year First Accounts Opened:"
                %td{:align => "right"}
                  = text_field_tag 'organization[organization_survey_attributes][year_first_accounts_opened]', @user.organization_survey.year_first_accounts_opened, :size => 30
              %tr
                %td{:align => "right"}
                  %p.large-text
                    ="Number of Active Accounts:"
                %td{:align => "right"}
                  = text_field_tag 'organization[organization_survey_attributes][number_of_active_accounts]', @user.organization_survey.number_of_active_accounts, :size => 30
            %tr
              %td{:align => "right"}
                = submit_tag :save_changes.l
              %td{:align => "right"}
