-# Reusable Signup
-@page_title= :sign_up.l.titleize

.content
  %h1
    ="Signup!"

  .block{:style => "margin-top: 10px;"}
    .two-column-layout

      / Signup form
      .tcl-column.left

        %table{:width => "100%", :cellspacing => "0", :cellpadding => "0", :border => "0"}
          - form_for :organization, :url => organizations_path, :method => :post, :html => {:class => 'MainForm'} do |f|
            %tr
              %td{:class => "text12", :width => "32%", :height => "36"}
                %label{"for"=>"name"}
                  =:name.l
              %td{:class => "text12", :width => "68%", :height => "36"}
                = f.text_field :first_name, :size => 35

            %tr
              %td{:class => "text12", :width => "32%", :height => "36"}
                %label{"for"=>"login"}
                  =:e_mail_address.l
              %td{:class => "text12", :width => "68%", :height => "36"}
                = f.text_field :login, :size => 35

            %tr
              %td{:class => "text12", :colspan => "2", :height => "36"}
                %em=:required_your_email_address_will_identify_you_to_save_together.l

            %tr
              %td{:class => "text12", :width => "32%", :height => "36"}
                %label{"for"=>"login_confirmation"}
                  =:re_enter_e_mail_address_to_confirm.l
              %td{:class => "text12", :width => "68%", :height => "36"}
                = f.text_field :login_confirmation, :size => 35

            %tr
              %td{:class => "text12", :colspan => "2", :height => "36"}
                %em=:required_we_will_send_a_confirmation_e_mail_to_the_address_you_enter.l

            %tr
              %td{:class => "text12", :width => "32%", :height => "36"}
                %label{"for"=>"password"}
                  =:type_your_password.l
              %td{:class => "text12", :width => "68%", :height => "36"}
                = f.password_field :password, :size => 35

            %tr
              %td{:class => "text12", :width => "32%", :height => "36"}
                %label{"for"=>"password_confirmation"}
                  =:re_type_your_password_to_confirm.l
              %td{:class => "text12", :width => "68%", :height => "36"}
                = f.password_field :password_confirmation, :size => 35

            %tr
              %td
              %td
                = image_submit_tag "#{image_path('buttons/signup.gif')}", :alt => :sign_up.l


      / Help text
      .tcl-column.right

        = render :partial => "organizations/signup_sidebar"
