- @meta = { :description => "#{@org.display_name}'s profile on #{AppConfig.community_name}.", :keywords => "#{@org.display_name}, #{@org.tags.join(", ") unless @org.tags.nil?}", :robots => AppConfig.robots_meta_show_content }

.content

  .photo
    %h1= @org.display_name

    .with-img.plus
      - if @org.avatar
        = image_tag( @org.avatar_photo_url(:medium), :class => 'polaroid')
      - else
        = image_tag( @org.avatar_photo_url(:medium), :class => "polaroid" )

  .about-saver
    .box.wide
      .box-bottom
        %h3= :about_user.l :user_name => @org.display_name
        %p.no-margin
          = @org.description

        .relax='&nbsp;'

      - if @org.organization_survey
        .box-bottom
          %h3
            ="Organization information:"
          %p
          = render :partial => "organizations/survey", :object => @org.organization_survey, :locals => { :organization_survey => @org.organization_survey }

        .box-bottom
          %h3
            ="Contact information:"
          %p
            = render :partial => "organizations/contact_info", :object => @org.organization_survey, :locals => { :organization_survey => @org.organization_survey }

  .relax='&nbsp;'
  %h2
    = image_tag 'titles/people-who-have-contributed-to-this-saver.gif'

  .pagination= paginating_links @savers, :params => params if @savers.page_count > 1

  = render(:partial => "savers/saver", :collection => @savers)

  %br.clear
  .pagination= paginating_links @savers, :params => params if @savers.page_count > 1
