- @meta = { :description => "#{@org.display_name}'s profile on #{AppConfig.community_name}.", :keywords => "#{@org.display_name}, #{@org.tags.join(", ") unless @org.tags.nil?}", :robots => AppConfig.robots_meta_show_content }

-@page_title= @org.display_name

.content

  %h1
    = @org.display_name

  .single-column

    .photo

      .with-img.plus
        = image_tag( @org.avatar_photo_url(:medium), :class => "polaroid" )
      
        - if @org.organization_survey
          %h3="Organization information:"
          = render :partial => "organizations/survey", :object => @org.organization_survey, :locals => { :organization_survey => @org.organization_survey }

          %h3="Contact information:"
          = render :partial => "organizations/contact_info", :object => @org.organization_survey, :locals => { :organization_survey => @org.organization_survey }


    .party-info
      - if @org.eql?(current_user)
        .box-bottom
          %h2
            =:manage_my.l
          =link_to "&raquo; #{:profile.l}", edit_organization_path(@org)
      .about-party
        %h3
          = :about_user.l :user_name => @org.display_name
        .story.org
          %p.no-margin
            = @org.description

    .relax='&nbsp;'
  
    %h2{:style => "margin-top: 30px;"}
      =:savers_supported_by_this_organization.l

    .pagination= paginating_links @savers, :params => params if @savers.page_count > 1

    = render(:partial => "savers/mini_saver", :collection => @savers)

    %br.clear
    .pagination= paginating_links @savers, :params => params if @savers.page_count > 1
