%tr
  %td{:class => "large-text", :height => "36", :width => "111", :bgcolor => "#f8faf5"}
    %p.large-text= photo_col_name
  %td{:class => "large-text", :height => "36", :width => "141", :bgcolor => "#f8faf5"}
    %p.large-text= item_col_name
  %td{:class => "large-text", :height => "36", :width => "124", :bgcolor => "#f8faf5"}
    %p.large-text= program_col_name
  %td{:class => "large-text", :height => "36", :width => "292", :bgcolor => "#f8faf5"}
    %p.large-text= description_col_name
  %td{:class => "large-text", :height => "36", :width => "83", :bgcolor => "#f8faf5"}
    %p.large-text= amount_col_name
  %td{:class => "large-text", :height => "36", :width => "89", :bgcolor => "#f8faf5", :align => "center"}
    %p.large-text= action_col_name
