.yui-b
  = render :partial => 'shared/admin_nav'
  
#yui-main
  .yui-b
    .box
      %h3= "Reports"
      = form_for :index do |f|
        %label= "from date:"
        = f.date_select :from_date, :default => Time.now.at_beginning_of_month
        %label= "to date:"
        = f.date_select :to_date, :default => Time.now.at_end_of_month
        = f.submit "Go"
      = yield