!!!
%html
  %head
    %meta{:content => "text/html; charset=ISO-8859-1"}
    - if @meta
      - @meta.each do |key|
        %meta{:name=> key[0], :content => key[1]}

    %title= page_title

    = stylesheet_link_tag 'main', :media => 'screen'
    - if @rss_title && @rss_url
      = auto_discovery_link_tag(:rss, @rss_url, {:title => @rss_title})

  %body
    #page
      .header
        - form_tag sessions_path do
          .header-form
            .column
              %label{"for"=>"username"}=:e_mail_address.l
              = text_field_tag('login', nil, :size => 35)
            .column
              = link_to(:forgot_your_password.l, forgot_password_url)
              = password_field_tag('password', nil,:size => 35)
            = submit_tag("", {:class => 'button'})
            .relax= '&nbsp;'
            %div{:align => 'right'}
              / AddThis Button BEGIN
              %a{:href => "http://www.addthis.com/bookmark.php?v=250", :onmouseover => "return addthis_open(this, '', '[URL]', '[TITLE]')", :onmouseout => "addthis_close()", :onclick => "return addthis_sendto()"}
                %br
                %img{:src => "http://s7.addthis.com/static/btn/lg-share-en.gif", :width => "125", :height => "16", :alt => "Bookmark and Share", :style => "border:0"}
              / AddThis Button END

        / Banner Image
        =link_to((image_tag "#{image_path('logotype.jpg')}", :alt => 'SaveTogether'), home_path)

      / Top Navbar
      .menu
        .menu-left
          .menu-right
            .text-box
              %p
                = :welcome_to_our_beta_site.l
                
            = render :partial => "shared/navbar_common"

      / Page begins
      = @content_for_layout

      .footer
        = image_tag 'footer.gif'
        %a{:class => 'feedback', :href => "mailto:#{:feedback_email_address.l}?Subject=#{:feedback_email_subject.l}"}
          %img{:alt => 'Feedback Icon', :src => "#{image_path('icons/feedback.gif')}"}
          
        / Bottom Nav Bar
        = render :partial => "shared/navbar_common"

      / Javascript for AddThis
      =javascript_include_tag "http://s7.addthis.com/js/250/addthis_widget.js?pub=xa-4a3bc7960a2abaa3"
