!!!
%html
  %head
    %meta{:content => "text/html; charset=ISO-8859-1"}
    - if @meta
      - @meta.each do |key|
        %meta{:name=> key[0], :content => key[1]}

    %title= page_title

    = stylesheet_link_tag 'main', :media => 'screen'
    = stylesheet_link_tag 'widget02', :media => 'all'
    - if @rss_title && @rss_url
      = auto_discovery_link_tag(:rss, @rss_url, {:title => @rss_title})
    = javascript_include_tag 'menu12'

  %body
    #page
      .header
        - form_tag sessions_path do
          .header-form
            .column
              %label{"for"=>"username"}=:e_mail_address.l
              = text_field_tag('login', nil, :size => 35)
            .column
              = link_to(:forgot_your_password.l, forgot_password_url)
              = password_field_tag('password', nil,:size => 35)
            = submit_tag(:log_in.l,{:class => 'button'})
            .relax= '&nbsp;'
            %div{:align => 'right'}
              = link_to('http://www.addthis.com/bookmark.php?v=250', :onmouseover => "return addthis_open(this, '', '[URL]', '[TITLE]')", :onmouseout => 'addthis_close()', :onclick => 'return addthis_sendto()')
              = javascript_include_tag 'addthis_widget'

        = link_to (image_tag 'logotype.jpg', :alt => 'SaveTogether'), home_path

      .menu
        .menu-left
          .menu-right
            .text-box
              %p
                = 'Impact: 24 Savers Matched!'
            %ul
              %li
                = link_to 'HOME', home_path
                = image_tag 'separator.gif'
              %li
                = link_to 'MATCH', savers_path
                = image_tag 'separator.gif'
              %li
                = link_to 'HOW IT WORKS', about_path
                = image_tag 'separator.gif'
              %li
                = link_to 'SIGN-UP', signup_path
                = image_tag 'separator.gif'
              %li
                = link_to 'DO MORE', faq_path
                = image_tag 'separator.gif'

      = @content_for_layout

      .footer
        = image_tag 'footer.gif'
        %ul
          %li
            = link_to 'HOME', home_path
            = image_tag 'separator.gif'
          %li
            = link_to 'MATCH', savers_path
            = image_tag 'separator.gif'
          %li
            = link_to 'HOW IT WORKS', about_path
            = image_tag 'separator.gif'
          %li
            = link_to 'SIGN-UP', signup_path
            = image_tag 'separator.gif'
          %li
            = link_to 'DO MORE', faq_path
            = image_tag 'separator.gif'
    = render(:partial => 'layouts/widget')